<!-- 菜鸟手册 -->
<ion-view view-title="菜鸟手册" cache-view="false" >
    <ion-nav-buttons side="left">
        <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">{{Language.menu.homePage}}</button>
    </ion-nav-buttons>
    <ion-content scroll="true" overflow-scroll="true">
    <!-- ////////////////////////// -->

        <p style="text-align: center;">
            <span data-role="width" style="display:inline-block;width:390px">
                <img src="https://bdn.135editor.com/files/users/477/4775785/201806/ZrmRHJKY_JeAn.jpg" alt="0001.jpg" width="390" height=""
                    border="0" mapurl="" title="0001.jpg" style="margin: 0px; width: 100%;" />
                <img src="https://bdn.135editor.com/files/users/477/4775785/201806/uDkTJzbd_rFzp.jpg" alt="0002.jpg" width="390" height=""
                    border="0" mapurl="" title="0002.jpg" style="margin: 0px; width: 390px !important;" />
                <img src="https://bdn.135editor.com/files/users/477/4775785/201806/uSxuLcea_fyTh.jpg" alt="0003.jpg" width="390" height=""
                    border="0" mapurl="" title="0003.jpg" style="margin: 0px; width: 390px !important;" />
            </span>
        </p>
        <p style="text-align: center">
            <span data-role="width" style="display:inline-block;width:390px">
                <img src="https://bdn.135editor.com/files/users/477/4775785/201806/JYpRfzHZ_Fq35.jpg" style="margin: 0px; width: 390px !important;"
                    title="0004.jpg" width="390" height="" border="0" mapurl="" alt="0004.jpg" />
            </span>
        </p>
        <p style="text-align: center">
            <span data-role="width" style="display:inline-block;width:390px">
                <img src="https://bdn.135editor.com/files/users/477/4775785/201806/LUpfb24f_24Ch.jpg" style="margin: 0px; width: 390px !important;"
                    title="0005.jpg" width="390" height="" border="0" mapurl="" alt="0005.jpg" />
            </span>
        </p>
        <p style="text-align: center">
            <span data-role="width" style="display:inline-block;width:390px">
                <img src="https://bdn.135editor.com/files/users/477/4775785/201806/jkrtKnSu_SOOb.jpg" style="margin: 0px; width: 390px !important;"
                    title="0006.jpg" width="390" height="" border="0" mapurl="" alt="0006.jpg" />
                <img src="https://bdn.135editor.com/files/users/477/4775785/201806/AaO8m77p_kCv7.jpg" alt="0007.jpg" width="390" height=""
                    border="0" mapurl="" title="0007.jpg" style="margin: 0px; width: 390px !important;" />
            </span>
        </p>
        <p style="text-align: center">
            <br/>
            <br/>
            <br/>
            <br/>
        </p>


    </ion-content>
</ion-view>