<ion-view view-title="{{Language.like.title}}" cache-view="false"  hide-tabs >
    <ion-content style="background-color:lavender">

        <ion-slide-box   does-continue="true" auto-play="false"  show-pager="false" >

            <img  ng-src="{{imgUrl}}" >
            <!--<img src="img/goodJob.png">-->
        </ion-slide-box>

        <div class="list card">
            <ion-list>
                <ion-item ng-repeat="employee in GoodEmployee"  >

                    <!--<div class="item item-avatar">-->
                        <!--<img src="img/user.jpg">-->
                        <!--<div class="col"> <p style="font-size:12px;">姓名：{{employee.Chinese_Name}}</p></div>-->
                    <!--</div>-->

                    <!--<div class="item item-body" style="background-color:#CCFFCC">-->
                        <!--<p style="font-size:12px;">事迹：{{employee.Describe}}</p>-->
                    <!--</div>-->

                    <div class="item item-avatar">
                        <img src="img/user.jpg">
                        <h2>{{Language.like.name}}：{{employee.Chinese_Name}}</h2>
                    </div>

                    <div class="item item-body">
                        <img class="full-image" src="{{employee.ImgPath}}">
                        <p>
                            {{employee.Describe}}
                        </p>
                        <p>
                            <!--<button  class="subdued" ng-click="like()">{{employee.Like}} 赞</button>-->
                            <a href="#" class="subdued" ng-click="like()">{{employee.Like}} 赞</a>
                        </p>
                    </div>

                    <div class="item tabs tabs-secondary tabs-icon-right">
                        <a class="tab-item"   ng-click="like(employee)">
                            <i class="icon ion-thumbsup"></i>
                            赞
                        </a>
                    </div>

                </ion-item>
            </ion-list>
        </div>


        <!--<h6 >专栏简介</h6>-->
        <!--<div class="list card">-->
            <!--<div class="item item-body">-->
                <!--<p style="font-size:80%">你身边还有哪些人值得你点“赞”？请描述赞“点”： </p>-->
            <!--</div>-->
        <!--</div>-->
        <h6>{{Language.like.content}}：</h6>
        <div class="list card" >
            <div class="item item-input">
                <span class="input-label" style="width: 10px;font-size:80%" >{{Language.like.name}}</span><span class="input-label" style="width: 10px;color: red">*</span>
                <input type="text" style="font-size:80%" placeholder="{{Language.like.nameContent}}" ng-model="goodJob.name"/>
            </div>
            <div class="item item-input">
                <span class="input-label" style="width: 10px;font-size:80%">{{Language.like.employee_ID}}</span><span class="input-label" style="width: 10px;color: red">*</span>
                <input type="text" style="font-size:80%" placeholder="{{Language.like.employee_IDContent}}" ng-model="goodJob.toWorkdayNo"/>
            </div>
            <div class="item item-input">
                <span class="input-label" style="width: 10px;font-size:80%">{{Language.like.department}}</span><span class="input-label" style="width: 10px;color: red">*</span>
                <input type="text" style="font-size:80%" placeholder="{{Language.like.departmentContent}}" ng-model="goodJob.department"/>
            </div>
        </div>


        <div class="list card">
            <label class="item item-input" >
                <textarea rows="5" style="font-size:80%" placeholder="{{Language.like.content}}"  ng-model="goodJob.text"></textarea>
            </label>
        </div>
        <p style="font-size:10px;">{{Language.like.ps}}</p>


        <div style="text-align: center"><button  class="button  button-positive" ng-click="Submit(goodJob)">{{Language.menu.submit}}</button></div>
        <br/>
    </ion-content>

</ion-view>
