<ion-view view-title="春晚" cache-view="false" >
    <ion-nav-buttons side="left">
        <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">首页</button>
    </ion-nav-buttons>
    <ion-content scroll="true" overflow-scroll="true" >


        <div class="list list-inset">
            <div class="item"  ng-click="openNamelist()">
                春晚VIP座入场券名单
            </div>
            <div class="item"  ng-click="openjiemu()">
                春晚节目单
            </div>
            <div class="item"  ng-click="openjiangpin()">
                春晚奖品
            </div>
            <div class="item"  ng-click="openZhibo()">
                现场直播
            </div>
            <div class="item"  ng-click="openHudong()">
               照片互动
            </div>

        </div>



    </ion-content>
</ion-view>