<ion-view view-title="春晚奖品" cache-view="true" >
    <!--<ion-nav-buttons side="left">-->
        <!--<button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">返回</button>-->
    <!--</ion-nav-buttons>-->
 <ion-content  scroll="true"  lazy-scroll >

     <p style="text-align:center">
         <img src="http://pic.96weixin.com/upload/image2/vip/126757/1801/1801237175.JPG" alt="1801237175.JPG" style=";width: 90%;"/>
     </p>
     <p style="text-align:center">
         <img src="http://pic.96weixin.com/upload/image2/vip/126757/1801/1801233667.JPG" alt="1801233667.JPG" style=";width: 90%;"/>
     </p>
     <p style="text-align:center">
         <img src="http://pic.96weixin.com/upload/image2/vip/126757/1801/1801231116.JPG" alt="1801231116.JPG" style=";width: 90%;"/>
     </p>
     <p style="text-align:center">
         <img src="http://pic.96weixin.com/upload/image2/vip/126757/1801/1801234103.JPG" alt="1801234103.JPG" style=";width: 90%;"/>
     </p>
     <p style="text-align:center">
         <img src="http://pic.96weixin.com/upload/image2/vip/126757/1801/1801232145.JPG" alt="1801232145.JPG" style=";width: 90%;"/>
     </p>
     <p style="text-align:center">
         <img src="http://pic.96weixin.com/upload/image2/vip/126757/1801/1801235936.JPG" alt="1801235936.JPG" style=";width: 90%;"/>
     </p>
     <p style="text-align:center">
         <img src="http://pic.96weixin.com/upload/image2/vip/126757/1801/1801231007.JPG" alt="1801231007.JPG" style=";width: 90%;"/>
     </p>
     <p style="text-align:center">
         <img src="http://pic.96weixin.com/upload/image2/vip/126757/1801/1801237398.JPG" alt="1801237398.JPG" style=";width: 90%;"/>
     </p>

    </ion-content>
</ion-view>