<ion-view view-title="春晚VIP门票领取名单" cache-view="true" >
    <!--<ion-nav-buttons side="left">-->
        <!--<button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">返回</button>-->
    <!--</ion-nav-buttons>-->
 <ion-content  scroll="true"  lazy-scroll >
 <br>

 <p>
     <strong><span style="font-size:24px;font-family: &#39;Microsoft YaHei UI&#39;,sans-serif">伟创力新春文艺晚会 </span></strong>
 </p>
 <p style="text-align:center">
     <strong><span style="color:#1F497D">&nbsp;</span></strong>
 </p>
 <p style="line-height:150%">
     <span style="font-size:13px;line-height:150%;font-family:宋体;color:#1F497D">&nbsp;</span>
 </p>
 <p style="text-align:center">
     <strong><span style="font-size:21px;font-family:等线">名单公布</span></strong><strong><span style="font-size:21px">| </span></strong><strong><span style="font-size: 21px;font-family:等线">快来领取您的</span></strong><strong><span style="font-size:21px">VIP</span></strong><strong><span style="font-size:21px;font-family:等线">门票</span></strong><strong> </strong>
 </p>
 <p style="text-align:center">
     <strong><span style="font-size:16px;font-family:&#39;Arial&#39;,sans-serif">Name List of Lucy Draw for CNY Party VIP Check in Ticket</span></strong>
 </p>
 <p style="text-align:center">
     &nbsp;
 </p>
 <p style="text-align:center">
     &nbsp;
 </p>
 <p style="text-indent:.25in;line-height:115%">
     <span style="font-family:等线">100张VIP门票已到位，感谢大家的热情参与，现公布获得门票的同事，具体名单见下图。领取方式为：</span>
 </p>
 <ol start="1" type="1" class=" list-paddingleft-2">
     <li style="">
         <p>
             <strong><span style="font-family:等线">领取凭证：凭厂牌；</span></strong>
         </p>
     </li>
     <li style="">
         <p>
             <strong><span style="font-family:等线">领取时间：</span></strong><strong><span style="font-family:等线">1月29日 9:00~20:30；</span></strong>
         </p>
     </li>
     <li style="">
         <p>
             <strong><span style="font-family:等线">领取地点：南厂员工活动中心二楼。</span></strong>
         </p>
     </li>
     <li>
         <div>
             <strong><span style="font-family:等线">备注：领取门票时，请登记身份证号码，用于购买人身意外险</span></strong>
         </div>
     </li>
 </ol>
 <p style="line-height:115%">
     <span style="color:#1F497D">&nbsp;</span>
 </p>
 <table cellpadding="0" cellspacing="0" width="464">
 <tbody>
 <tr height="28" style=";height:28px" class="firstRow">
     <td colspan="5" height="28" width="464" style="">
         获得春晚VIP门票名单
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="word-break: break-all;">
         序号
     </td>
     <td>
         工号
     </td>
     <td>
         姓名
     </td>
     <td>
         员工类型
     </td>
     <td>
         事业部
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         1
     </td>
     <td width="71" style="">
         446652
     </td>
     <td width="127" style="">
         袁灿
     </td>
     <td width="63" style="">
         IDL
     </td>
     <td width="159" style="">
         Multek B1
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         2
     </td>
     <td width="71" style="border-top: none;">
         466351
     </td>
     <td width="127" style="border-top: none;">
         马晓龙
     </td>
     <td width="63" style="border-top: none;">
         IDL
     </td>
     <td width="159" style="border-top: none;">
         Mech-FMA B7
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         3
     </td>
     <td width="71" style="border-top: none;">
         458352
     </td>
     <td width="127" style="border-top: none;">
         张罗平
     </td>
     <td width="63" style="border-top: none;">
         IDL
     </td>
     <td width="159" style="border-top: none;">
         Campus Resource B15
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         4
     </td>
     <td width="71" style="border-top: none;">
         2405750
     </td>
     <td width="127" style="border-top: none;">
         黄慧珍
     </td>
     <td width="63" style="border-top: none;">
         IDL
     </td>
     <td width="159" style="border-top: none;">
         PCBA-B11
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         5
     </td>
     <td width="71" style="border-top: none;">
         475737
     </td>
     <td width="127" style="border-top: none;">
         齐伟
     </td>
     <td width="63" style="border-top: none;">
         IDL
     </td>
     <td width="159" style="border-top: none;">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         6
     </td>
     <td width="71" style="border-top: none;">
         2525998
     </td>
     <td width="127" style="border-top: none;">
         屈彪
     </td>
     <td width="63" style="border-top: none;">
         IDL
     </td>
     <td width="159" style="border-top: none;">
         Regional Resource B15
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         7
     </td>
     <td width="71" style="border-top: none;">
         590187
     </td>
     <td width="127" style="border-top: none;">
         程尧
     </td>
     <td width="63" style="border-top: none;">
         IDL
     </td>
     <td width="159" style="border-top: none;">
         Regional Resource B15
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         8
     </td>
     <td width="71" style="border-top: none;">
         459208
     </td>
     <td width="127" style="border-top: none;">
         蔡伟涛
     </td>
     <td width="63" style="border-top: none;">
         IDL
     </td>
     <td width="159" style="border-top: none;">
         PCBA-B11
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         9
     </td>
     <td width="71" style="">
         2332802
     </td>
     <td width="127" style="">
         欧阳占宏
     </td>
     <td width="63" style="">
         IDL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         10
     </td>
     <td width="71" style="border-top: none;">
         2319896
     </td>
     <td width="127" style="border-top: none;">
         李美英
     </td>
     <td width="63" style="border-top: none;">
         IDL
     </td>
     <td width="159" style="border-top: none;">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         11
     </td>
     <td width="71" style="border-top: none;">
         2531502
     </td>
     <td width="127" style="border-top: none;">
         何昊
     </td>
     <td width="63" style="border-top: none;">
         IDL
     </td>
     <td width="159" style="border-top: none;">
         Mech-FMA B7
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         12
     </td>
     <td width="71" style="border-top: none;">
         2566119
     </td>
     <td width="127" style="border-top: none;">
         MAY SHYONG CHAI
     </td>
     <td width="63" style="border-top: none;">
         IDL
     </td>
     <td width="159" style="border-top: none;">
         Mech-FMA B7
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         13
     </td>
     <td width="71" style="border-top: none;">
         2549263
     </td>
     <td width="127" style="border-top: none;">
         刘碧凤
     </td>
     <td width="63" style="border-top: none;">
         IDL
     </td>
     <td width="159" style="border-top: none;">
         Mech-PCBA
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         14
     </td>
     <td width="71" style="border-top: none;">
         2600339
     </td>
     <td width="127" style="border-top: none;">
         陈沛兴
     </td>
     <td width="63" style="border-top: none;">
         IDL
     </td>
     <td width="159" style="border-top: none;">
         Multek Corporate
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         15
     </td>
     <td width="71" style="border-top: none;">
         2405741
     </td>
     <td width="127" style="border-top: none;">
         阮萧林
     </td>
     <td width="63" style="border-top: none;">
         IDL
     </td>
     <td width="159" style="border-top: none;">
         Regional Resource B15
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         16
     </td>
     <td width="71" style="border-top: none;">
         469623
     </td>
     <td width="127" style="border-top: none;">
         刘家玲
     </td>
     <td width="63" style="border-top: none;">
         IDL
     </td>
     <td width="159" style="border-top: none;">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         17
     </td>
     <td width="71" style="border-top: none;">
         2189348
     </td>
     <td width="127" style="border-top: none;">
         尹小建
     </td>
     <td width="63" style="border-top: none;">
         IDL
     </td>
     <td width="159" style="border-top: none;">
         Mech-FMA B7
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         18
     </td>
     <td width="71" style="border-top: none;">
         448403
     </td>
     <td width="127" style="border-top: none;">
         桑静
     </td>
     <td width="63" style="border-top: none;">
         IDL
     </td>
     <td width="159" style="border-top: none;">
         Multek B2F
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         19
     </td>
     <td width="71" style="border-top: none;">
         801922
     </td>
     <td width="127" style="border-top: none;">
         金明
     </td>
     <td width="63" style="border-top: none;">
         IDL
     </td>
     <td width="159" style="border-top: none;">
         PCBA-B11
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         20
     </td>
     <td width="71" style="border-top: none;">
         2271847
     </td>
     <td width="127" style="border-top: none;">
         刘光宗
     </td>
     <td width="63" style="border-top: none;">
         IDL
     </td>
     <td width="159" style="border-top: none;">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         21
     </td>
     <td width="71" style="">
         2275754
     </td>
     <td width="127" style="">
         覃芳玲
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-PCBA
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         22
     </td>
     <td width="71" style="">
         2604984
     </td>
     <td width="127" style="">
         桂泽娟
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         23
     </td>
     <td width="71" style="">
         452371
     </td>
     <td width="127" style="">
         张秋华
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Multek B3
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         24
     </td>
     <td width="71" style="">
         2437506
     </td>
     <td width="127" style="">
         黄勇
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B11
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         25
     </td>
     <td width="71" style="">
         2604024
     </td>
     <td width="127" style="">
         郑城
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B11
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         26
     </td>
     <td width="71" style="">
         2611890
     </td>
     <td width="127" style="">
         贺博文
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         27
     </td>
     <td width="71" style="">
         485591
     </td>
     <td width="127" style="">
         李才元
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Campus Resource B15
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         28
     </td>
     <td width="71" style="">
         2608835
     </td>
     <td width="127" style="">
         龙丽沙
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         29
     </td>
     <td width="71" style="">
         2521088
     </td>
     <td width="127" style="">
         杨萍
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-FMA B17
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         30
     </td>
     <td width="71" style="">
         705584
     </td>
     <td width="127" style="">
         黄金福
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-PCBA
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         31
     </td>
     <td width="71" style="">
         2277022
     </td>
     <td width="127" style="">
         谢超计
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-PCBA
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         32
     </td>
     <td width="71" style="">
         462686
     </td>
     <td width="127" style="">
         黄金兰
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-FMA B17
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         33
     </td>
     <td width="71" style="">
         2577201
     </td>
     <td width="127" style="">
         黄雅程
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B11
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         34
     </td>
     <td width="71" style="">
         2574452
     </td>
     <td width="127" style="">
         杨洪林
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         35
     </td>
     <td width="71" style="">
         461851
     </td>
     <td width="127" style="">
         邓先桃
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-FMA B10
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         36
     </td>
     <td width="71" style="">
         2533687
     </td>
     <td width="127" style="">
         陆金玲
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-PCBA
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         37
     </td>
     <td width="71" style="">
         2397930
     </td>
     <td width="127" style="">
         黄凤丽
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Multek B3
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         38
     </td>
     <td width="71" style="">
         2523640
     </td>
     <td width="127" style="">
         赵旭峰
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-PCBA
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         39
     </td>
     <td width="71" style="">
         568453
     </td>
     <td width="127" style="">
         杨海凤
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-FMA B17
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         40
     </td>
     <td width="71" style="">
         2604038
     </td>
     <td width="127" style="">
         雷全明
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         41
     </td>
     <td width="71" style="">
         465775
     </td>
     <td width="127" style="">
         刘凤
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-FMA B15
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         42
     </td>
     <td width="71" style="border-top: none;">
         2608964
     </td>
     <td width="127" style="border-top: none;">
         罗昌令
     </td>
     <td width="63" style="border-top: none;">
         DL
     </td>
     <td width="159" style="border-top: none;">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         43
     </td>
     <td width="71" style="">
         2609060
     </td>
     <td width="127" style="">
         李世伟
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         44
     </td>
     <td width="71" style="border-top: none;">
         2416542
     </td>
     <td width="127" style="border-top: none;">
         杨应兰
     </td>
     <td width="63" style="border-top: none;">
         DL
     </td>
     <td width="159" style="border-top: none;">
         Mech-PCBA
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         45
     </td>
     <td width="71" style="">
         2113715
     </td>
     <td width="127" style="">
         曾小艳
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Multek B3
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         46
     </td>
     <td width="71" style="">
         2520028
     </td>
     <td width="127" style="">
         陈冬冬
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Campus Resource B15
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         47
     </td>
     <td width="71" style="">
         460341
     </td>
     <td width="127" style="">
         王建
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Campus Resource B15
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         48
     </td>
     <td width="71" style="border-top: none;">
         691369
     </td>
     <td width="127" style="border-top: none;">
         刘立成
     </td>
     <td width="63" style="border-top: none;">
         DL
     </td>
     <td width="159" style="border-top: none;">
         Mech-PCBA
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         49
     </td>
     <td width="71" style="">
         2516739
     </td>
     <td width="127" style="">
         杨春怡
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         50
     </td>
     <td width="71" style="">
         2304624
     </td>
     <td width="127" style="">
         韦思嘉
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         51
     </td>
     <td width="71" style="">
         450370
     </td>
     <td width="127" style="">
         司富国
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Multek B3
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         52
     </td>
     <td width="71" style="">
         390186
     </td>
     <td width="127" style="">
         朱伯喜
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Campus Resource B15
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         53
     </td>
     <td width="71" style="">
         2151252
     </td>
     <td width="127" style="">
         张权衍
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-PCBA
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         54
     </td>
     <td width="71" style="">
         2408384
     </td>
     <td width="127" style="">
         吴东
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-PCBA
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         55
     </td>
     <td width="71" style="border-top: none;">
         2099690
     </td>
     <td width="127" style="border-top: none;">
         彭显意
     </td>
     <td width="63" style="border-top: none;">
         DL
     </td>
     <td width="159" style="border-top: none;">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         56
     </td>
     <td width="71" style="">
         458687
     </td>
     <td width="127" style="">
         赵星星
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-FMA B10
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         57
     </td>
     <td width="71" style="">
         2135337
     </td>
     <td width="127" style="">
         周小红
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-PCBA
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         58
     </td>
     <td width="71" style="">
         2542963
     </td>
     <td width="127" style="">
         周小山
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         59
     </td>
     <td width="71" style="">
         464410
     </td>
     <td width="127" style="">
         黄胜
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-PCBA
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         60
     </td>
     <td width="71" style="">
         616195
     </td>
     <td width="127" style="">
         郭小丽
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         61
     </td>
     <td width="71" style="">
         2269609
     </td>
     <td width="127" style="">
         席杨琛琦
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         62
     </td>
     <td width="71" style="">
         468799
     </td>
     <td width="127" style="">
         罗杏
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-FMA(S) B6
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         63
     </td>
     <td width="71" style="">
         430390
     </td>
     <td width="127" style="">
         李水生
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-FMA B15
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         64
     </td>
     <td width="71" style="">
         714267
     </td>
     <td width="127" style="">
         刘荣康
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-PCBA
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         65
     </td>
     <td width="71" style="">
         2121392
     </td>
     <td width="127" style="">
         丁艳
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-FMA(S) B6
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         66
     </td>
     <td width="71" style="">
         2318280
     </td>
     <td width="127" style="">
         黄月玲
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-PCBA
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         67
     </td>
     <td width="71" style="">
         2113165
     </td>
     <td width="127" style="">
         万蓉
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         68
     </td>
     <td width="71" style="">
         2597659
     </td>
     <td width="127" style="">
         柳岳龙
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         69
     </td>
     <td width="71" style="">
         2607485
     </td>
     <td width="127" style="">
         徐青青
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         70
     </td>
     <td width="71" style="">
         2374262
     </td>
     <td width="127" style="">
         覃秋波
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         71
     </td>
     <td width="71" style="">
         2214196
     </td>
     <td width="127" style="">
         覃玉琼
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         72
     </td>
     <td width="71" style="border-top: none;">
         483117
     </td>
     <td width="127" style="border-top: none;">
         曾道合
     </td>
     <td width="63" style="border-top: none;">
         DL
     </td>
     <td width="159" style="border-top: none;">
         Mech-PCBA
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         73
     </td>
     <td width="71" style="">
         561481
     </td>
     <td width="127" style="">
         苏莉
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-FMA B15
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         74
     </td>
     <td width="71" style="">
         733719
     </td>
     <td width="127" style="">
         李程
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Multek B5
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         75
     </td>
     <td width="71" style="">
         2305894
     </td>
     <td width="127" style="">
         周春芳
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Multek B3
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         76
     </td>
     <td width="71" style="">
         494541
     </td>
     <td width="127" style="">
         刘伟伟
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         77
     </td>
     <td width="71" style="">
         2612372
     </td>
     <td width="127" style="">
         李旗
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         78
     </td>
     <td width="71" style="">
         456530
     </td>
     <td width="127" style="">
         杜文祥
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Campus Resource B15
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         79
     </td>
     <td width="71" style="border-top: none;">
         2226396
     </td>
     <td width="127" style="border-top: none;">
         周艳琼
     </td>
     <td width="63" style="border-top: none;">
         DL
     </td>
     <td width="159" style="border-top: none;">
         PCBA-B11
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         80
     </td>
     <td width="71" style="">
         2372222
     </td>
     <td width="127" style="">
         张水兰
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-PCBA
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         81
     </td>
     <td width="71" style="border-top: none;">
         477330
     </td>
     <td width="127" style="border-top: none;">
         李书平
     </td>
     <td width="63" style="border-top: none;">
         DL
     </td>
     <td width="159" style="border-top: none;">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         82
     </td>
     <td width="71" style="">
         2570695
     </td>
     <td width="127" style="">
         何清山
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         83
     </td>
     <td width="71" style="">
         2281698
     </td>
     <td width="127" style="">
         卢国柱
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-FMA B17
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         84
     </td>
     <td width="71" style="border-top: none;">
         2280619
     </td>
     <td width="127" style="border-top: none;">
         李晓宏
     </td>
     <td width="63" style="border-top: none;">
         DL
     </td>
     <td width="159" style="border-top: none;">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         85
     </td>
     <td width="71" style="">
         2113071
     </td>
     <td width="127" style="">
         邓辉
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         86
     </td>
     <td width="71" style="border-top: none;">
         2551645
     </td>
     <td width="127" style="border-top: none;">
         黄浩明
     </td>
     <td width="63" style="border-top: none;">
         DL
     </td>
     <td width="159" style="border-top: none;">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         87
     </td>
     <td width="71" style="">
         2543394
     </td>
     <td width="127" style="">
         敬小青
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         88
     </td>
     <td width="71" style="">
         383539
     </td>
     <td width="127" style="">
         赖来娣
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-PCBA
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         89
     </td>
     <td width="71" style="">
         2184634
     </td>
     <td width="127" style="">
         黄秋惠
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B11
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         90
     </td>
     <td width="71" style="">
         426516
     </td>
     <td width="127" style="">
         熊新惠
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         91
     </td>
     <td width="71" style="border-top: none;">
         447512
     </td>
     <td width="127" style="border-top: none;">
         冼海洋
     </td>
     <td width="63" style="border-top: none;">
         DL
     </td>
     <td width="159" style="border-top: none;">
         Multek B1
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         92
     </td>
     <td width="71" style="">
         2334048
     </td>
     <td width="127" style="">
         黄彩华
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         93
     </td>
     <td width="71" style="">
         2237042
     </td>
     <td width="127" style="">
         邱万乐
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-FMA B17
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         94
     </td>
     <td width="71" style="">
         2566419
     </td>
     <td width="127" style="">
         钟鉴民
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         95
     </td>
     <td width="71" style="border-top: none;">
         2577345
     </td>
     <td width="127" style="border-top: none;">
         陈天留
     </td>
     <td width="63" style="border-top: none;">
         DL
     </td>
     <td width="159" style="border-top: none;">
         PCBA-B11
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         96
     </td>
     <td width="71" style="border-top: none;">
         446774
     </td>
     <td width="127" style="border-top: none;">
         颜明华
     </td>
     <td width="63" style="border-top: none;">
         DL
     </td>
     <td width="159" style="border-top: none;">
         Multek B4
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         97
     </td>
     <td width="71" style="border-top: none;">
         2337028
     </td>
     <td width="127" style="border-top: none;">
         肖斌
     </td>
     <td width="63" style="border-top: none;">
         DL
     </td>
     <td width="159" style="border-top: none;">
         PCBA-B13
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="border-top: none;">
         98
     </td>
     <td width="71" style="border-top: none;">
         2367496
     </td>
     <td width="127" style="border-top: none;">
         陈姣
     </td>
     <td width="63" style="border-top: none;">
         DL
     </td>
     <td width="159" style="border-top: none;">
         Mech-FMA(S) B6
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         99
     </td>
     <td width="71" style="">
         470083
     </td>
     <td width="127" style="">
         强小红
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         Mech-FMA B7
     </td>
 </tr>
 <tr height="28" style=";height:28px">
     <td height="28" style="">
         100
     </td>
     <td width="71" style="">
         463364
     </td>
     <td width="127" style="">
         附玉林
     </td>
     <td width="63" style="">
         DL
     </td>
     <td width="159" style="">
         PCBA-B13
     </td>
 </tr>
 </tbody>
 </table>
 <p style="line-height:115%">
     <span style="color:#1F497D"></span><br/>
 </p>
 <p class="MsoListParagraph" style=";text-align:justify;line-height: 150%">
     &nbsp;
 </p>
 <table cellspacing="0" cellpadding="0">
     <tbody>
     <tr style=";height:44px" class="firstRow">
         <td width="402" valign="top" style="padding: 0in 7px;" height="44">
             <p class="MsoListParagraph" style=";text-align:justify;line-height:150%">
                 <strong><span style="font-family:   黑体">未有门票的同事，可以通过</span></strong><strong><span style="font-family:黑体">flex + 观看晚会，也可以在B15五楼分会场观看。</span></strong>
             </p>
         </td>
     </tr>
     </tbody>
 </table>
 <p>
     <br/>
 </p>

    </ion-content>
</ion-view>