<ion-view view-title="春晚节目单" cache-view="true" >
    <!--<ion-nav-buttons side="left">-->
        <!--<button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">返回</button>-->
    <!--</ion-nav-buttons>-->
 <ion-content  scroll="true"  lazy-scroll >

     <p style="text-align:center">
         <img src="http://pic.96weixin.com/upload/image2/vip/126757/1801/1801265242.png" alt="1801265242.png" style=";width: 95%;"/>
     </p>
     <p style="text-align:center">
         <img src="http://pic.96weixin.com/upload/image2/vip/126757/1801/1801262769.png" alt="1801262769.png" style=";width: 95%;"/>
     </p>
     <p style="text-align:center">
         <img src="http://pic.96weixin.com/upload/image2/vip/126757/1801/1801266216.png" alt="1801266216.png" style=";width: 95%;"/>
     </p>
     <p style="text-align:center">
         <img src="http://pic.96weixin.com/upload/image2/vip/126757/1801/1801266231.png" alt="1801266231.png" style=";width: 95%;"/>
     </p>
    </ion-content>
</ion-view>