<!-- 组织架构 -->
<style>
  .gallery li {
    height: auto;
    width: auto;
  }
</style>
<ion-view view-title="{{Language.mechCharity.arch}}" cache-view="true">
  <ion-content class="padding" scroll="true" overflow-scroll="true">
    <div>
      <ul class="lightgallery">
        <li data-src="img/mechCharity/archAll.png">
          <a href="#">
            <img style="max-width:96%;" alt="组织架构" src="img/mechCharity/archAll.png" />
          </a>
        </li>
      </ul>
    </div>
    <br><br>
  </ion-content>
</ion-view>
<script>
  setTimeout(function () {
    //图片缩放
    InitPhotoScale();
  }, 1000);
</script>