<!-- MECH Charity 简介列表-->
<ion-view view-title="{{Language.mechCharity.introduce}}" cache-view="true">
  <ion-content scroll="true" overflow-scroll="true">
    <div class="list list-inset">
      <div class="item" ng-click="open('简介');">
        {{Language.mechCharity.introduce}}
      </div>
      <div class="item" ng-click="open('组织架构');">
        {{Language.mechCharity.arch}}
      </div>
      <div class="item" ng-click="open('项目体系');">
        {{Language.mechCharity.projArch}}
      </div>
    </div>
  </ion-content>
</ion-view>