<!-- MECH Charity 账务公示 -->
<ion-view view-title="{{Language.mechCharity.accountingPublic}}" cache-view="true">

  <ion-content scroll="true" overflow-scroll="true">
    <div class="list list-inset">
      <div class="item" ng-click="open('资金捐赠公示');">
        {{Language.mechCharity.moneyPublic}}
      </div>
      <div class="item" ng-click="open('物资捐赠公示');">
        {{Language.mechCharity.materialPublic}}
      </div>
      <div class="item" ng-click="open('年度账务报告');">
        {{Language.mechCharity.yearAccountingPublic}}
      </div>
    </div>
  </ion-content>
</ion-view>