<!-- MECH Charity 简介-->
<style>
  .normalText {
    font-family: 微软雅黑, Microsoft YaHei, "sans-serif", SimHei, Arial, simsun;
  }
  .padding{
      margin:5px;
  }
</style>
<ion-view view-title="{{Language.mechCharity.introduce}}" cache-view="true">
  <ion-content class="padding" scroll="true" overflow-scroll="true">
    <section class="_editor">
      <section class="_editor">
        <p style="text-align:center; margin-top:20px;">
          <span style="color:#0052ff;font-size:20px;"><strong>Flex MECH Charity 简介</strong></span>
        </p>
        <p style="text-indent: 2em;">
          <span class="normalText" style="text-indent: 27px; line-height: 150%; font-size: 14px;"><span style="text-indent: 27px; font-size: 15px; line-height: 107%;">MECH</span><span
              style="text-indent: 27px; font-size: 15px; line-height: 107%;">基金会是珠海伟创力</span><span style="text-indent: 27px; font-size: 15px; line-height: 107%;">MECH</span><span
              style="text-indent: 27px; font-size: 15px; line-height: 107%;">事业部的一个慈善项目，伟创力不仅关注员工利益、多样性、而且时刻践行着伟创力对社会的大爱与人文关怀。</span></span>
        </p>
        <p style="text-align:center">
          <span class="normalText" style="text-indent: 27px; line-height: 150%; font-size: 14px;"><span style="text-indent: 27px; font-size: 15px; line-height: 107%;"><img
                src="https://zhmobile.flextronics.com/EvaluationApp/image/mechCharity/image1.png" alt="image1.png"
                style="width: 96%;" /></span></span>
        </p>
        <p style="text-indent: 2em;">
          <span class="normalText" style="text-indent: 27px; line-height: 150%; font-size: 14px;"><span style="text-indent: 27px; font-size: 15px; line-height: 107%;">MECH</span><span
              style="text-indent: 27px; font-size: 15px; line-height: 107%;">基金会是伟创力机构件营运事业部总裁</span><span style="text-indent: 27px; font-size: 15px; line-height: 107%;">Gerhard
              Zebe </span><span style="text-indent: 27px; font-size: 15px; line-height: 107%;">先生领导成立并由专项基金管理委员会管理，其宗旨是支持中国贫困山区家庭困难、学习优异孩子的教育。</span><span
              style="text-indent: 27px; font-size: 15px; line-height: 107%;">MECH</span><span style="text-indent: 27px; font-size: 15px; line-height: 107%;">基金会基金源于私人及企业捐助，</span><span
              style="text-indent: 27px; font-size: 15px; line-height: 107%;">Gerhard</span><span style="text-indent: 27px; font-size: 15px; line-height: 107%;">先生鼓励公司同事、期盼所有的爱心人士能够加入到项目中来，为孩子们募集更多的善款。</span></span><span
            style="font-family: DengXian; font-size: 15px; text-indent: 27px;"></span>
        </p>
        <p style="text-align:center">
          <span class="normalText" style="text-indent: 27px; line-height: 150%; font-size: 14px;"><span style="text-indent: 27px; font-size: 15px; line-height: 107%;"><img
                src="https://zhmobile.flextronics.com/EvaluationApp/image/mechCharity/image2.png" alt="image2.png"
                style="width: 96%;" /></span></span>
        </p>
        <p style="line-height: 115%; text-indent: 2em;">
          <span style=" font-size: 15px;">MECH基金会基金源于私人及企业捐助，严格执行专款专用制度，截止2018年10月，基金会已经在四川、湖南、湖北、重庆、广西一对一资助了104个家庭贫困的孩子，MECH基金会的足迹遍布44所学校，受益学子累计达到21930名。</span>
        </p>
        <p style="text-align:center">
          <span class="normalText" style="font-size: 15px;"><img src="https://zhmobile.flextronics.com/EvaluationApp/image/mechCharity/image3.png"
              alt="image3.png" style="width: 96%;" /></span>
        </p>
        <p style="line-height: 115%; text-indent: 2em;">
          <span class="normalText" style="font-size: 15px;"><span style="font-size:15px;line-height:107%;">MECH基金会的成长离不开更多爱心人士的支持，帮助更多孩子圆教育梦，点亮希望的灯火，您的每一次帮助与支持我们都铭感于心，因为您，更多的孩子拥有了没有后顾之忧地接收教育、实现理想的机会！MECH基金会，期待一直与您同行……</span></span>
        </p>
        <p style="text-align:center">
          <span class="normalText" style="font-size: 15px;"><span style="font-size:15px;line-height:107%;"><img src="https://zhmobile.flextronics.com/EvaluationApp/image/mechCharity/image4.png"
                alt="image4.png" style="width: 96%;" /></span></span>
        </p>
        <br>
      </section>
    </section>
  </ion-content>
</ion-view>
