<!-- 失物招领 -->
<ion-tabs class="tabs-icon-top tabs-color-active-assertive">

    <ion-tab title="{{Language.GBSHR.LostFound}}" icon-off="ion-ios-paw" icon-on="ion-ios-paw" href="#/lostFound/lostFoundList">
        <ion-nav-view name="lostFoundList"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{Language.lostFound.lostFoundPublic}}" icon-off="ion-compass" icon-on="ion-compass" href="#/lostFound/lostFoundPublic">
        <ion-nav-view name="lostFoundPublic"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{Language.lostFound.tabMy}}" icon-off="ion-person" icon-on="ion-person" href="#/lostFound/lostFoundMy">
        <ion-nav-view name="lostFoundMy"></ion-nav-view>
    </ion-tab>

</ion-tabs>