<!-- 失物寻主 -->
<ion-view view-title="{{Language.lostFound.lostFoundPublic}}" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">{{Language.menu.homePage}}</button>
  </ion-nav-buttons>
  <ion-content scroll="true" overflow-scroll="true" style="background-color:#c0c0c0">
    <div ng-if="!entrys || !entrys.length">
      <h4 style="color:red">{{Language.common.NoData}}</h4>
    </div>
    <style>
      .leftTitle {
        color: darkblue;
        font-size: 13px;
      }
    </style>
    
    <ion-list>
      <ion-item class="item item-body" ng-repeat="entry in entrys">
        <div class="row">
          <div class="col col-25"><span class="leftTitle">{{Language.lostFound.goodName}}</span></div>
          <div class="col"> <span style="color:crimson;">{{entry.GoodName}}</span></div>
        </div>
        <div class="row">
          <div class="col col-25"><span class="leftTitle">{{Language.lostFound.curLoc}}</span></div>
          <div class="col"><span>{{entry.Location}}</span></div>
        </div>
        <div class="row">
          <div class="col col-25"><span class="leftTitle">{{Language.lostFound.phone}}</span></div>
          <div class="col"><a class="myLink" href="tel:{{entry.Phone}}"><i class="icon ion-android-call"></i> {{entry.Phone}}</a></div>
        </div>
        <div class="row">
          <div class="col col-25"><span class="leftTitle">{{Language.lostFound.PublishTime}}</span></div>
          <div class="col"><span>{{entry.CreateDate| date:"yyyy-MM-dd"}}</span></div>
        </div>
        <div class="row" ng-if="!isEmptyString(entry.GoodDesc)">
          <div class="col"><span style="font-size:15px;">{{entry.GoodDesc}}</span></div>
        </div>
        <div class="row" ng-if="!isEmptyString(entry.Memo)">
          <div class="col"><span style="font-size:15px;">{{entry.Memo}}</span></div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
