<ion-view view-title="{{title}}" cache-view="false"  hide-tabs >
    <ion-content style="background-color:lavender">


        <div class="list card" >
            <div class="item item-input">
                <span class="input-label" style="width: 30px;font-size:80%" >{{Language.like.name}}</span><span class="input-label" style="width: 10px;color: red">*</span>
                <input type="text" style="font-size:80%"  readonly="readonly"  ng-model="apply.CName"/>
            </div>

            <div class="item item-input">
                <span class="input-label" style="width:30px;font-size:80%">{{Language.like.employee_ID}}</span><span class="input-label" style="width: 10px;color: red">*</span>
                <input type="text" style="font-size:80%"  readonly="readonly" ng-model="apply.WorkdayNO"/>
            </div>
            <div class="item item-input">
                <span class="input-label" style="width: 30px;font-size:80%">{{Language.like.department}}</span><span class="input-label" style="width: 10px;color: red">*</span>
                <input type="text" style="font-size:80%"  readonly="readonly" ng-model="apply.Organization"/>
            </div>
            <div class="item item-input">
                <span class="input-label" style="width: 50px;font-size:80%">{{Language.shareCar.mobile}}</span><span class="input-label" style="width: 10px;color: red">*</span>
                <input type="text" style="font-size:80%" placeholder="{{Language.shareCar.mobile}}" ng-model="apply.MobileNo"/>
            </div>
            <div class="item item-input">
                <span class="input-label" style="width: 30px;font-size:80%">{{Language.certificate.Use}}</span><span class="input-label" style="width: 10px;color: red">*</span>
                <!--<input type="text" style="font-size:80%" placeholder="{{Language.certificate.UseContent}}" ng-model="apply.Use"/>-->

                <select class="button "  ng-options='t.name for t in listUse'
                        ng-model="apply.Use" ></select>
            </div>
        </div>



        <div style="text-align: center"><button  class="button  button-positive" ng-click="Submit()">{{Language.menu.submit}}</button></div>
        <br/>
    </ion-content>

</ion-view>
