<ion-view view-title="自助办证" cache-view="false" >
    <!--<ion-nav-buttons side="left">-->
        <!--<button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">{{Language.menu.homePage}}</button>-->
    <!--</ion-nav-buttons>-->
    <ion-content scroll="true" overflow-scroll="true" >
        <div class="list list-inset">

            <div class="item"  ng-click="open('SR')">
                {{Language.certificate.incomeCertificate}}
            </div>
            <div class="item"  ng-click="open('ZZ')">
                {{Language.certificate.certificateOfEmployment}}
            </div>
            <div class="item"  ng-click="open('XJ')">
                {{Language.certificate.certificateOfTakingLeave}}
            </div>
            <div class="item" ng-click="open('CP')">
                {{Language.certificate.reissueWorkingCard}}
            </div>
            <!--<div class="item"  ng-click="open('visaApply')">-->
                <!--VisaApply-->
            <!--</div>-->
        </div>

    </ion-content>
</ion-view>