<!-- 厂牌补办 -->
<ion-view cache-view="false"  hide-tabs >
    <ion-nav-title>
        {{title}}
    </ion-nav-title>
    <ion-content style="background-color:lavender">

        <div class="list card" >
            <div class="item item-input">
                <span class="input-label" style="width: 30px;font-size:80%">{{Language.like.name}}</span>
                <span class="input-label" style="width: 10px;color: red">*</span>
                <input type="text" style="font-size:80%" readonly="readonly" ng-model="apply.CName" />
            </div>
            
            <div class="item item-input">
                <span class="input-label" style="width:30px;font-size:80%">{{Language.like.employee_ID}}</span>
                <span class="input-label" style="width: 10px;color: red">*</span>
                <input type="text" style="font-size:80%" readonly="readonly" ng-model="apply.WorkdayNO" />
            </div>
            <div class="item item-input">
                <span class="input-label" style="width: 30px;font-size:80%">{{Language.like.department}}</span>
                <span class="input-label" style="width: 10px;color: red">*</span>
                <input type="text" style="font-size:80%" readonly="readonly" ng-model="apply.Organization" />
            </div>
            <div class="item item-input">
                <span class="input-label" style="width: 50px;font-size:80%">{{Language.shareCar.mobile}}</span>
                <span class="input-label" style="width: 10px;color: red">*</span>
                <input type="text" style="font-size:80%" placeholder="{{Language.shareCar.mobile}}" ng-model="apply.MobileNo" />
            </div>
            <div class="item item-input">
                <span class="input-label" style="width: 30px;font-size:80%">{{Language.certificate.Reason}}</span>
                <span class="input-label" style="width: 10px;color: red">*</span>
                <select class="button" ng-options='t.name for t in listReason' ng-model="apply.Use"></select>
            </div>
            <div class="divOff lightRedBack">
                <span class="text-left">{{Language.certificate.Explain}}：</span>
                <div class="divOff">
                    <ol class="numOl">
                        <li>
                            <b>厂牌丢失补办</b>收费10元，将在申办当月工资中扣费；
                        </li>
                        <li>
                            <b>自然损坏</b>（包括不受人为因素，而导致厂牌上的图片及信息模糊不清的情况），领取时需要携带旧厂牌；
                        </li>
                        <li>
                            提交申请后请根据工作人员的反馈携带个人证件到GBSHR领取。
                        </li>
                    </ol>
                </div>
            </div>
        </div>


        <div style="text-align: center"><button  class="button  button-positive" ng-click="Submit()">{{Language.menu.submit}}</button></div>
        <br/>
    </ion-content>

</ion-view>
