<ion-view view-title="" cache-view="false" >
    <ion-content >
        <ion-list ng-if="accessEmployee.Segment_ID=='EF922594-5FB1-409E-A3D8-F7BC940AACD9'">
            <ion-item class="item item-button-right" ng-repeat="item in items">
                <h2>{{item.description}}</h2>
                <h2>服务热线：{{item.phone}}</h2>
                <h2>{{item.bz}}</h2>
                <button class="button button-positive"  ng-click="callB13Phone(item);">
                    <i class="icon ion-ios-telephone"></i>
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>