<ion-view view-title="{{Language.rexian.title}}" cache-view="false" class="animated fadeIn contact">
    <ion-nav-buttons side="left">
        <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">{{Language.menu.homePage}}</button>
    </ion-nav-buttons>
    <ion-content scroll="false"  style="background:url(img/B15Phone2.jpg);background-repeat:round;background-size:cover" >

        <div  style="position:absolute;left:42%;top:95%;text-align: center;height: 20px" >
             <a class="button button-small button-positive ion-ios-telephone" href="tel:4001099899">
                <span style="font-size:14px">
                {{Language.rexian.button}}</span>
              </a>
        </div>



    </ion-content>
</ion-view>