<ion-view view-title="热线电话" cache-view="false" class="animated fadeIn contact">
    <ion-nav-buttons side="left">
        <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">首页</button>
    </ion-nav-buttons>
    <ion-content scroll="false"  style="background:url(img/B15Phone2.jpg);background-repeat:round;background-size:cover" >

        <div  style="position:absolute;left:42%;top:95%;text-align: center;height: 20px" >
             <button  class="button button-small button-positive  ion-ios-telephone" ng-click="callPhone();" ><span style="font-size: 13px">拨打热线</span></button>
        </div>



    </ion-content>
</ion-view>