<ion-view view-title="预订票" cache-view="true" >
    <!--<ion-nav-buttons side="left">-->
        <!--<button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">返回</button>-->
    <!--</ion-nav-buttons>-->
 <ion-content  scroll="true"  lazy-scroll >

     <p>
         <strong><span style="color: rgb(227, 108, 9);">预购票须知：</span></strong>
     </p>
     <p>
         <strong><span style="color: rgb(227, 108, 9);">1.&nbsp;&nbsp; 每条线路40人（含）以上成团，享受团购优惠；</span></strong>
     </p>
     <p>
         <strong><span style="color: rgb(227, 108, 9);">2.&nbsp;&nbsp; 未成团的预购者如仍需购票，享9折优惠；</span></strong>
     </p>
     <p>
         <strong><span style="color: rgb(227, 108, 9);">3.&nbsp;&nbsp; 届时信禾公司入厂售票，员工缴费取票。</span></strong>
     </p>
     <p>
         <strong><span style="color: rgb(227, 108, 9);">4.&nbsp;&nbsp; 预购票时间：2018年1月22日9:00a.m. ~ 1月26日9:00 a.m.</span></strong>
     </p>
     <p class="MsoListParagraph" style=";margin-bottom: 0in;margin-left:.25in;margin-bottom:0;text-align:justify;text-justify: inter-ideograph">
         <strong><span style="color: rgb(227, 108, 9);"></span></strong><br/>
     </p>
     <p>
         <br/>
     </p>

     <div class="list">

         <label class="item item-input item-select">
             <div class="input-label">
                 出发日期：
             </div>
             <select ng-model="Submitdata.selectedDate" ng-change="selDate(Submitdata.selectedDate)">
                 <option ng-repeat="seldata in selDateList">{{seldata.date}}</option>
             </select>
         </label>
         <label class="item item-input item-select">
             <div class="input-label">
                 线路：
             </div>
             <select ng-model="Submitdata.selectedLine" ng-change="selLine(Submitdata.selectedLine)"   >
                 <option ng-repeat="line in Linelist">{{line.Line}}</option>
             </select>
         </label>
         <label class="item item-input item-select" ng-if="other=='false'">
             <div class="input-label">
                 站点：
             </div>
           <select ng-model="Submitdata.selectedStation" ng-change="selStation(Submitdata.selectedStation)"   >
            <option ng-repeat="station in Stationlist">{{station.Time}} {{station.Station}}</option>
          </select>

         </label>

         <label class="item item-input" ng-if="other=='true'">
            <div class="input-label">
                 站点(请填写线路+站点)：
             </div>
             <input type="text"   ng-model="Submitdata.selectedStation"/>
         </label>

         <label class="item item-input">
             <div class="input-label">
                 联系方式(重要请确认)：
             </div>
             <input type="text"  ng-model="Submitdata.MobileNoByUser"/>
         </label>


     </div>

     <div style="text-align: center"><button   class="button  button-positive" ng-click="Submit()">报 名</button></div>

     <!--<div style="text-align: center" ng-if="accessEmployee.strIsHRConfirm=='Registration'"><button   class="button  button-positive" ng-click="Submit()">报 名</button></div>-->
     <!--<div style="text-align: center" ng-if="accessEmployee.strIsHRConfirm!='Registration'">实名制认证通过后可进行预订</div>-->

    </ion-content>
</ion-view>