<p class="MsoListParagraph" style="margin-left: 28px;line-height: 150%">
    <strong><span style="font-size:13px;line-height:150%;font-family:宋体">免责声明：</span></strong>
</p>
<p class="MsoListParagraph" style="margin-left: 28px;line-height: 150%">
    <span style="font-size: 13px; line-height: 150%; font-family: Arial, sans-serif;">1. &nbsp;</span><span style="font-size: 13px; line-height: 150%; font-family: 宋体;">本免责声明适用于参与该活动的所有人员。</span>
</p>
<p class="MsoListParagraph" style="margin-left: 28px;line-height: 150%">
    <span style="font-size: 13px; line-height: 150%; font-family: Arial, sans-serif;">2. &nbsp;</span><span style="font-size: 13px; line-height: 150%; font-family: 宋体;">凡报名者均视为接受本声明。</span>
</p>
<p class="MsoListParagraph" style="margin-left: 28px;line-height: 150%">
    <span style="font-size: 13px; line-height: 150%; font-family: Arial, sans-serif;">3. </span><span style="font-size: 13px; line-height: 150%; font-family: 宋体;">本活动为外部组织，公司对活动仅提供信息发布、告知内容的服务，不收取任何费用或盈利，亦不对任何个人承担民事赔偿责任或补充民事赔偿责任。</span>
</p>
<p class="MsoListParagraph" style="margin-left: 28px;line-height: 150%">
    <span style="font-size: 13px; line-height: 150%; font-family: Arial, sans-serif;">4. </span><span style="font-size: 13px; line-height: 150%; font-family: 宋体;">如在活动中因参与者本人原因发生人身损害或财产损失，本公司不承担任何责任。</span>
</p>
<p class="MsoListParagraph" style="margin-left: 28px;line-height: 150%">
    <span style="font-size: 13px; line-height: 150%; font-family: Arial, sans-serif;">5. </span><span style="font-size: 13px; line-height: 150%; font-family: 宋体;">活动开始后本声明将自动生效。</span>
</p>
<p>
    <br/>
</p>
<p class="MsoListParagraph" style=";margin-bottom: 0in;margin-left:.25in;margin-bottom:0;text-align:justify;text-justify: inter-ideograph">
    <br/>
</p>
<p>
    <br/>
</p>