<ion-view view-title="">

 <ion-content  style="background:url(img/CJBJ.jpg);background-repeat:round;background-size:cover" >

     <div  style=" margin-top:90px;">
         <section class="kz-editor" data-id="2019">
             <span class="js-kz-style-background-color" style=" box-sizing:border-box; display:block; padding:0.8em 0.5em; text-align:center"><img src="img/2018.png" style="text-align: center"/></span>
             <section style="border: 0px rgb(127, 157, 185); margin: 5px auto; padding: 0px; box-sizing: border-box; text-align: center;color: rgb(255,255,254);">
                 <section style="width: 100%; border: none; margin-top: 50px; padding: 0px; display: inline-block;">
                     <section style="box-sizing: border-box; color: inherit; border-color: rgb(127, 157, 185); box-shadow: rgb(150, 150, 150) 0px 0px 8px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-box-shadow: rgb(150, 150, 150) 0px 0px 8px;">
                         <span class="js-kz-style-background-color" style="background-color:#FF3399; box-sizing:border-box; display:block; padding:0.8em 0.5em; text-align:center"><span class="js-kz-value" style="font-size:18px">Flex华为商务2018年度新春晚宴</span></span>
                     </section>
                     <section class="js-kz-style-border-top-color js-kz-style-border-right-color" style="width: 0px; border-right-width:7px; border-right-style: solid; border-right-color: #c8234b; border-top-width:7px; border-top-style: solid; border-top-color: #c8234b; box-sizing: border-box; color: inherit; height:7px; border-left-width:7px !important; border-left-style: solid !important; border-left-color: transparent !important; border-bottom-width: 7px !important; border-bottom-style: solid !important; border-bottom-color: transparent !important;float:left;"></section>
                     <section style="width: 0px; border-right-width:7px; border-right-style: solid; border-right-color: #343434; border-top-width:7px; border-top-style: solid; border-top-color: #343434; box-sizing: border-box; color: inherit; height:7px; border-left-width:7px !important; border-left-style: solid !important; border-left-color: transparent !important; border-bottom-width: 7px !important; border-bottom-style: solid !important; border-bottom-color: transparent !important;bottom:0;opacity: 0.5;"></section>
                     <section class="js-kz-style-border-left-color js-kz-style-border-top-color" style="float: right; width: 0px; border-right-width: 7px; border-right-style: solid; border-left-color: #c8234b; border-top-width:7px; border-top-style: solid; border-top-color: #c8234b; box-sizing: border-box; color: inherit; height:7px; margin-top: -14px; border-left-width:7px !important; border-left-style: solid !important; border-right-color: transparent !important; border-bottom-width: 7px !important; border-bottom-style: solid !important; border-bottom-color: transparent !important;"></section>
                     <section style="float: right; width: 0px; border-right-width: 7px; border-right-style: solid; border-left-color: #343434; border-top-width:7px; border-top-style: solid; border-top-color: #343434; box-sizing: border-box; color: inherit; height:7px; margin-top: -14px; border-left-width:7px !important; border-left-style: solid !important; border-right-color: transparent !important; border-bottom-width: 7px !important; border-bottom-style: solid !important; border-bottom-color: transparent !important;opacity: 0.5;"></section>
                 </section>
                 <section style="width: 90%; margin: -140px 5% 0px; border: 0px solid rgb(127, 157, 185); border-radius: 5px; font-size: 1em; font-weight: inherit; text-align: inherit; text-decoration: inherit; color: rgb(127, 157, 185); box-sizing: border-box; display: block; box-shadow: rgb(120, 120, 120) 0px 0px 6px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-box-shadow: rgb(120, 120, 120) 0px 0px 6px; background-color: rgb(255, 255, 255);">
                     <section style="margin-top: 50px; padding: 105px 8px 8px; box-sizing: border-box; color: inherit; border-color: rgb(127, 157, 185);">
                         <section style="box-sizing: border-box; color: inherit; border-color: rgb(127, 157, 185);">
                             <p>
                                 <span style="font-size: 20px;color:red">辞旧迎新，欢度佳节，新春快乐</span>
                             </p>
                             <p>
                                 <span style="font-size: 20px;color:red">请填写参加抽奖</span>
                             </p>
                             <p>
                             <div class="list list-inset removePM">
                                 <label class="item item-input"><input type="text" ng-model="userInput.Employee_ID" placeholder="工号" > </label>
                                 <label class="item item-input"><input type="text" ng-model="userInput.CName" placeholder="姓名" ></label>
                             </div>
                             </p>
                             <p><br></p>
                             <div style="text-align: center"><button  class="button button-block custom-zise" ng-click="Submit()"><span style="color: #ffffff">提 交</span></button></div>

                         </section>
                     </section>
                 </section>
             </section>

         </section>

     </div>



    </ion-content>
</ion-view>