<ion-view view-title="{{Language.home.admin}}" cache-view="false" >
    <ion-nav-buttons side="left">
        <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">{{Language.menu.homePage}}</button>
    </ion-nav-buttons>
    <ion-content scroll="true" overflow-scroll="true" >
        <div class="row" style="height:110px;text-align: center">
                <div class="col col-25  custom-og light" style="Margin:1px;" ng-click="open('班车信息');">
                    <i style="font-size:50px;" class="icon ion-android-bus"></i>
                    <div>{{Language.admin.bus}}</div>
                </div>                
                <div class="col col-25 calm-bg light" style="Margin:1px" ng-click="open('点餐');">                
                    <i style="font-size:50px;" class="ion-android-restaurant"></i>
                    <div>{{Language.admin.meal}}</div>
                </div>
                
                <div class="col col-25 positive-bg light" style="Margin:1px" ng-click="open('挂失IC卡');">
                    <i style="font-size:50px;" class="ion-card"></i>
                    <div>{{Language.admin.icCardLost}}</div>
                </div>
                <div class="col royal-bg light" style="Margin:1px" ng-click="open('dormManage');">
                    <i style="font-size:50px;" class="ion-ios-home"></i>
                    <div>{{Language.admin.dorm}}</div>
                    <span style="font-size:10px" class="badge badge-assertive" ng-if="checkActionUpdate('dormManage')">New</span>
                </div>

            <!--<div   class="col col-25 positive-bg light"  style="Margin:1px" ng-click="open('KQAbnormal');">-->
            <!--<i style="font-size:50px;" class="ion-alert-circled"></i>-->
            <!--<div>{{Language.kqcx.tabAbnormal}}</div>-->
            <!--</div>-->
         </div>

         <div class="row" style="height:110px;text-align: center">
            <div class="col col-25 positive-bg light" style="Margin:1px;" ng-click="open('餐厅菜单');">
                <i style="font-size:50px;" class="icon ion-android-restaurant"></i>
                <div>{{Language.admin.canteenMenu}}</div>
                <span style="font-size:10px" class="badge badge-assertive" ng-if="checkActionUpdate('餐厅菜单')">New</span>
            </div>
              <div class="col royal-bg light" style="Margin:1px" ng-click="open('EAdmin');">
                    <i style="font-size:50px;" class="ion-ios-home"></i>
                    <div>EAdmin</div>
                   
                </div>
         </div>
    </ion-content>
</ion-view>