<ion-view view-title="{{Language.home.admin}}" cache-view="false" >
    <ion-nav-buttons side="left">
        <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">{{Language.menu.homePage}}</button>
    </ion-nav-buttons>
    <ion-content scroll="true" overflow-scroll="true" >
        <div class="row" style="height:110px;text-align: center">
            <div  class="col col-25 positive-bg light"  style="Margin:1px" ng-click="open('icCardLost');">
                <i style="font-size:50px;" class="ion-ios-bookmarks"></i>
                <div >{{Language.admin.icCardLost}}</div>
            </div>
            <!--<div   class="col col-25 positive-bg light"  style="Margin:1px" ng-click="open('KQAbnormal');">-->
                <!--<i style="font-size:50px;" class="ion-alert-circled"></i>-->
                <!--<div>{{Language.kqcx.tabAbnormal}}</div>-->
            <!--</div>-->
         </div>
    </ion-content>
</ion-view>