<!-- 餐厅菜单 -->
<style>
.myIcon{
    font-size:50px;
    vertical-align: middle;
    margin-right: 10px;
}
</style>
<ion-view view-title="{{Language.admin.canteenMenu}}" cache-view="false">
  <ion-content scroll="true" overflow-scroll="true">
    <div class="list list-inset">
      <div class="item" ng-click="openGeneralNotice(0, '7FC14D15-5666-48EA-A18A-81D211748E64');">
        <i class="icon ion-android-restaurant myIcon"></i>
        <span>南厂餐厅菜单</span>
      </div>
      <div class="item" ng-click="openGeneralNotice(0, '8D20953D-2295-421B-8818-D4B881E701EC');">
        <i class="icon ion-android-restaurant myIcon"></i>
        <span>北厂餐厅菜单</span>
      </div>
      <div class="item" ng-click="openGeneralNotice(0, 'B6C78CFC-32B8-4DF5-964F-DD81B450B1A4');">
        <i class="icon ion-android-restaurant myIcon"></i>
        <span>中央餐厅菜单</span>
      </div>
      <div class="item" ng-click="openGeneralNotice(0, 'E9871CAB-17EF-4081-B9FB-3B7052B42619');">
        <i class="icon ion-android-restaurant myIcon"></i>
        <span>B7餐厅菜单</span>
      </div>
    </div>
  </ion-content>
</ion-view>