<!-- 宿舍管理 -->
<ion-view view-title="{{Language.admin.dorm}}" cache-view="false" >
    <!-- <ion-nav-buttons side="left">
        <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">{{Language.home.admin}}</button>
    </ion-nav-buttons> -->

    <ion-content scroll="true" overflow-scroll="true" >
        <div class="list list-inset">            
            <div class="item" ng-click="open('宿舍地图');">
                {{Language.dormManage.dormMap}}
            </div>
            <div class="item" ng-click="open('宿舍公告');">
                {{Language.dormManage.dormNotice}}
            </div>
            <div class="item"  ng-click="open('住房津贴');">
                {{Language.dormManage.housingAllowance}}
            </div>
            <div class="item"  ng-click="open('宿舍申请');">
                    {{Language.dormManage.applyDorm}}
            </div>
            <div class="item"  ng-click="open('宿舍报修');">
                    {{Language.dormManage.repairDorm}}
            </div>
            <div class="item"  ng-click="open('补办钥匙');">
                    {{Language.dormManage.reissueKey}}
            </div>
            <div class="item" ng-click="open('费用查询');">
                {{Language.dormManage.chargingDefine}}
            </div>
            <div class="item" ng-click="open('免费WIFI申请');">
                {{Language.dormManage.freeDormWifi}}
            </div>
            <div class="item" ng-click="open('宿舍常见问题');">
                {{Language.dormManage.dormAskAndAns}}
            </div>
            <div class="item" ng-click="open('建议箱');">
                {{Language.dormManage.dormSuggest}}
            </div>            
        </div>
    </ion-content>
</ion-view>


