<!-- CSER日历 -->
<ion-view view-title="{{Language.CSER.cserDate}}" >
    <!-- <ion-nav-buttons side="left">
        <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">{{Language.menu.homePage}}</button>
    </ion-nav-buttons> -->
    <ion-content>
        <ion-list>
            <ion-item class="item item-divider">{{Language.CSER.cserDatePrompt}}</ion-item>
            <ion-item class="item item-body" ng-if="CserDateList" ng-repeat="cserDate in CserDateList" ng-click="open(cserDate)">
                <div class="row">
                    <div class="col col-25"><span style="color:darkblue;font-size: 13px">{{cserDate.DateStart| date:"yyyy-MM-dd"}}</span></div>
                    <div class="col"> <span style="color:crimson;font-size: 13px">{{cserDate.Venue}}</span></div>
                </div>
                <div class="row">
                    <div class="col col-33"><span style="color: darkblue;font-size: 13px">{{cserDate.Time}}</span></div>
                    <div class="col"><span style="color: darkgrey;font-size: 12px">{{Language.CSER.DateEnd}}:{{cserDate.DateEnd| date:"yyyy-MM-dd"}}</span></div>
                </div>
                <div class="row">
                    <div class="col"><span style="font-size: 13px;font-weight: bold">{{cserDate.Project}}</span></div>
                </div>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>