<!-- CSER托管 -->
<ion-view view-title="{{Language.CSER.kidsCaring}}" cache-view="false">
  <ion-content scroll="true" overflow-scroll="true">
    <ion-slide-box does-continue="true" auto-play="false" show-pager="false">
        <img src="img/other/LogoTuoguan.png">
    </ion-slide-box>
    <ion-list>
      <ion-item class="item item-thumbnail-left" ng-click="openGeneralNotice(0, 'F75A130C-9426-4766-A942-97B3D25FDDF9');">
        <img src="img/user-100.png">
        <br>
        <h2>伟创力周末托管班</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>