<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <ion-tab title="金点子" icon-off="ion-ios-paper" icon-on="ion-ios-paper" href="#tabGoldIdea/goldidea">
        <ion-nav-view name="goldIdea"></ion-nav-view>
    </ion-tab>
    <ion-tab title="金点子精选" icon-off="ion-ios-calendar" icon-on="ion-ios-calendar" href="#tabGoldIdea/goldIdeaShow">
        <ion-nav-view name="goldIdeaShow"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我的金点子" icon-off="ion-person" icon-on="ion-person" href="#tabGoldIdea/myGoldIdea">
        <ion-nav-view name="myGoldIdea"></ion-nav-view>
    </ion-tab>

</ion-tabs>