<ion-view view-title="Agenda" cache-view="false" >

    <ion-content scroll="true"  overflow-scroll="true" >

        <div style="height: auto" class="animated flip">
            <div class="timeline">
                <div class="timeline-date">
                    <ul>
                        <h2 class="second" style="position: relative;">
                            <span>Agenda</span>
                        </h2>
                        <li>
                            <h3>08:30</h3>
                            <dl class="right">
                                Morning Session Opening
                            </dl>
                        </li>
                        <li>
                            <h3>09.15</h3>
                            <dl class="right" >
                                B11 Updates KOI, Mission, Value Proposition, VSEM. [Speaker:Melinda]
                            </dl>
                        </li>
                        <li>
                            <h3>09:40</h3>
                            <dl class="right" >
                                KOI, VSEM, FY17 Initiatives, FY18 Roadmap (BU1,2,3,5). [Speaker:Aaron/Joan/CL/Freda]
                            </dl>
                        </li>
                        <li>
                            <h3>10:10</h3>
                            <dl class="right" >
                                KOI, VSEM, FY17 Initiatives, FY18 Roadmap (BU6). [Speaker:Aaron/Joan/CL/Freda]
                            </dl>
                        </li>
                        <li>
                            <h3>10:40</h3>
                            <dl class="right" >
                                Break
                            </dl>
                        </li>
                        <li>
                            <h3>10:55</h3>
                            <dl class="right" >
                                Team activity
                            </dl>
                        </li>
                        <li>
                            <h3>11:10</h3>
                            <dl class="right" >
                                ME. [Speaker:Sam]
                            </dl>
                        </li>
                        <li>
                            <h3>11:40</h3>
                            <dl class="right" >
                                TE. [Speaker:CL]
                            </dl>
                        </li>
                        <li>
                            <h3>12:10</h3>
                            <dl class="right" >
                                Logistics & Kanban. [Speaker:CC]
                            </dl>
                        </li>
                        <li>
                            <h3>12:40</h3>
                            <dl class="right" >
                                Lunch Break
                            </dl>
                        </li>
                        <li>
                            <h3>13:30</h3>
                            <dl class="right" >
                                Afternoon Session Opening
                            </dl>
                        </li>
                        <li>
                            <h3>13:40</h3>
                            <dl class="right" >
                                Material. [Speaker:Maggie]
                            </dl>
                        </li>
                        <li>
                            <h3>14:10</h3>
                            <dl class="right" >
                                Quality. [Speaker:Stephen]
                            </dl>
                        </li>
                        <li>
                            <h3>14:40</h3>
                            <dl class="right" >
                                IE.  [Speaker:Jeffrey]
                            </dl>
                        </li>
                        <li>
                            <h3>15:10</h3>
                            <dl class="right" >
                                Break
                            </dl>
                        </li>
                        <li>
                            <h3>15:25</h3>
                            <dl class="right" >
                                Break Out Sessions.<br>
                            </dl>

                        </li>
                        <li>
                            <h3>15:25</h3>
                            <dl class="right">
                                Workforce Competency (Technical Capability) & Succession Plan.  [Speaker:Wendy]
                            </dl>
                        </li>
                        <li>
                            <h3>15:25</h3>
                            <dl class="right">
                                B/end Planning & DOS.  [Speaker:Maggie]
                            </dl>
                        </li>
                        <li>
                            <h3>15:25</h3>
                            <dl class="right">
                                Digitization (Application Areas).  [Speaker:ST]
                            </dl>
                        </li>
                        <li>
                            <h3>15:25</h3>
                            <dl class="right">
                                Quality Defect Escape, 0 SCAR.  [Speaker:Stephen]
                            </dl>
                        </li>
                        <li>
                            <h3>15:25</h3>
                            <dl class="right">
                                Offline DL Efficiency Improvement.  [Speaker:Mandel]
                            </dl>
                        </li>
                        <li>
                            <h3>17:25</h3>
                            <dl class="right">
                                Read out from Break Out Sessions.  [Speaker:Group Leader]
                            </dl>
                        </li>
                        <li>
                            <h3>18:35</h3>
                            <dl class="right">
                                IKW Update.  [Speaker:Jason]
                            </dl>
                        </li>
                        <li>
                            <h3>18:40</h3>
                            <dl class="right">
                                Closing
                            </dl>
                        </li>
                        <li>
                            <h3>18:45</h3>
                            <dl class="right">
                                Team Dinner
                            </dl>
                        </li>
                    </ul>
                </div>

            </div>
        </div>


    </ion-content>
</ion-view>