<ion-view view-title="Contact" cache-view="false" >

    <ion-content scroll="true" overflow-scroll="true" >

        <div class="list">
            <a class="item item-avatar" href="#">
                <img src="img/B11WorkShop/Wendy Xie.jpg">
                <h2>Name:Wendy Xie</h2>
                <h2>Phone:(86)18926988996</h2>
                <h2>Email:wendy.xie@flex.com</h2>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/B11WorkShop/Ariel Chen.jpg">
                <h2>Name:Ariel Chen</h2>
                <h2>Phone:(86)13750003220</h2>
                <h2>Email:ariel.chen3@flex.com</h2>
            </a>

        </div>
    </ion-content>
</ion-view>