<ion-view view-title="Home" cache-view="false" >
    <ion-nav-buttons side="left">
        <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">首页</button>
    </ion-nav-buttons>
    <ion-content scroll="true" overflow-scroll="true" >

        <div style="width: 100%" >
            <img style="height: 300px;width: 100%"  ng-src="img/B11WorkShop/workshop3.jpg" >
        </div>


        <div class="row" style="height:110px;text-align: center">
            <div id="yjzp" class="col col-33" style=";Margin:1px" ng-click="open('Agenda');">
                <img   ng-src="img/B11WorkShop/Agenda2.jpg" >
                <div>Agenda</div>
            </div>
            <div id="yjzp" class="col col-33" style=";Margin:1px" ng-click="open('Hotel');">
                <img   ng-src="img/B11WorkShop/Hotel.jpg" >
                <div>Hotel</div>
            </div>
            <div id="yjzp" class="col" style=";Margin:1px" ng-click="open('transport');">
                <img   ng-src="img/B11WorkShop/Transport.jpg" >
                <div>Transport</div>
            </div>
        </div>
        <br>
        <div class="row" style="height:110px;text-align: center">
            <div id="yjzp" class="col col-33" style=";Margin:1px" ng-click="open('Contact');">
                <img   ng-src="img/B11WorkShop/Contacts.jpg" >
                <div>Contacts</div>
            </div>
            <div id="yjzp" class="col col-33" style=";Margin:1px" ng-click="open('Volunteer');">
                <img   ng-src="img/B11WorkShop/Volunteer.jpg" >
                <div>Group</div>
            </div>

        </div>


    </ion-content>
</ion-view>