<ion-view view-title="Hotel" cache-view="false" >

    <ion-content scroll="true" overflow-scroll="true" >

        <div style="width: 100%" >
            <img style="height: 300px;width: 100%"  ng-src="img/B11WorkShop/picHotel.jpg" >
        </div>

        <div class="list card">

            <div class="item item-body">
                <h2> <i  style="font-size:30px;" class="icon ion-ios-home"></i>Meeting Venue: 1F Multi-purpose Hall 1, Sheraton, Zhuhai</h2>
            </div>

            <div class="item item-body">
                <h2> <i  style="font-size:30px;" class="icon ion-home"></i> Address:1663 Yin Wan Road, Wanzai, Xiang Zhou District Zhuhai, Guangdong</h2>
                <p> 519000 China</p>
            </div>
            <!--<a href="#" class="item item-icon-left">-->
                <!--<i class="icon ion-home"></i>-->
              <!---->
               <!---->
            <!--</a>-->
            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-telephone"></i>
                Phone:(86)(756) 299 6688
            </a>
            </div>
    </ion-content>
</ion-view>