<ion-view view-title="Transport" cache-view="false" >

    <ion-content scroll="true" overflow-scroll="true" >

        <div class="list">
            <div class="item item-divider">
                Route 1 出发时间：07:00am
            </div>
            <a class="item item-body" href="#">
                (1号车) B11(07:05) - 里维埃拉南(07:06) - 里维埃拉北(07:09)- 鳄鱼岛(07:15) - 白藤二路口(07:25) - 湖心路口(07:35) - 喜来登(08:10)
                <br>
                <br>
                (2号车) BOC(07:00) - B11(07:05)- 喜来登(08:15)

            </a>
            <div class="item item-divider">
                Route 2 出发时间：06:45am
            </div>
            <a class="item item-body" href="#">
                (3号车) 星宇公交站(06:45) - 中纺城(06:50) - 坦洲高速路口（爱ME公园）(07:20) - 翠微公交站(07:40) - 华发新城(07:55) - 喜来登(08:15)
            </a>
            <div class="item item-divider">
                返程车时间：08:45pm
            </div>
        </div>
        <ion-list>
            <ion-item> <img style="height: 282px;width: 200px"  ng-src="img/B11WorkShop/1carWechat.jpg" ></ion-item>
            <ion-item> <img style="height: 282px;width: 200px"  ng-src="img/B11WorkShop/2CarWechat.jpg" ></ion-item>
            <ion-item> <img style="height: 282px;width: 200px"  ng-src="img/B11WorkShop/3CarWechat.jpg" ></ion-item>
        </ion-list>
            <div class="item item-divider">
                车长
            </div>
            <ion-item>
                <div class="row">
                    <div class="col-33"><h3>1号车</h3></div>
                    <div class="col-33"> <h3>Snow</h3></div>
                    <div class="col"> <h3>189 2808 9984</h3></div>
                </div>
                <div class="row">
                    <div class="col-33"><h3>2号车</h3></div>
                    <div class="col-33"> <h3>Jason Wang</h3></div>
                    <div class="col"> <h3>189 2698 9378</h3></div>
                </div>
                <div class="row">
                    <div class="col-33"><h3>3号车</h3></div>
                    <div class="col-33"> <h3>Hansen Yan</h3></div>
                    <div class="col"> <h3>189 2698 7121</h3></div>
                </div>
            </ion-item>
        <ion-list>
            <div class="item item-divider">
                Detail
            </div>
            <ion-item  ng-repeat="carInfo in carInfoList" class="item">
                <div class="row">
                    <div class="col"><h3>Dept:{{carInfo.Dept}}</h3></div>
                    <div class="col"> <h3>Employee:{{carInfo.Employee}}</h3></div>
                </div>
                <div class="row">
                    <div class="col"><h3>Tel:{{carInfo.Tel}}</h3></div>
                    <div class="col"> <h3>Sel-driving:{{carInfo.SelDriving}}</h3></div>
                </div>
                <div class="row">
                    <div class="col"><h3>Route:{{carInfo.Route}}</h3></div>
                    <div class="col"> <h3>CarNo:{{carInfo.CarNo}}</h3></div>
                </div>
                <div class="row">
                    <div class="col"><h3>Pick up point:{{carInfo.Pickuppoint}}</h3></div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>