<ion-view view-title="Group" cache-view="false" >

    <ion-content >

        <ul id="auto-loop" class="gallery" >

            <li data-src="img/B11WorkShop/workGroup/workGroup1.JPG" style="height:300px;width: 300px">Workforce Competency (Technical Capability) & Succession Plan
                <a href="#">
                    <img src="img/B11WorkShop/workGroup/workGroup1.JPG" />
                </a>
            </li>

            <li data-src="img/B11WorkShop/workGroup/workGroup2.JPG" style="height:350px;">B/end Planning & DOS
                <a href="#">
                    <img src="img/B11WorkShop/workGroup/workGroup2.JPG" />
                </a>
            </li>
            <li data-src="img/B11WorkShop/workGroup/workGroup3.JPG" style="height:300px;">Digitization (Application Areas)
                <a href="#">
                    <img src="img/B11WorkShop/workGroup/workGroup3.JPG" />
                </a>
            </li>
            <li data-src="img/B11WorkShop/workGroup/workGroup4.JPG" style="height:330px;">Quality Defect Escape, 0 SCAR
                <a href="#">
                    <img src="img/B11WorkShop/workGroup/workGroup4.JPG" />
                </a>
            </li>
            <li data-src="img/B11WorkShop/workGroup/workGroup5.JPG" style="height:300px;">DL Efficiency Improvement
                <a href="#">
                    <img src="img/B11WorkShop/workGroup/workGroup5.JPG" />
                </a>
            </li>
         </ul>
    </ion-content>
</ion-view>


