<ion-view view-title="{{Language.meal.title}}" cache-view="false">
    <ion-nav-buttons side="left">
        <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">{{Language.menu.homePage}}</button>
    </ion-nav-buttons>

    <ion-content scroll="true" overflow-scroll="true">


        <div class="list">
            <a class="item item-thumbnail-left" ng-repeat="meal in mealList"  href="#">
                <img src="{{meal.ImgPath}}">
                <h2>{{meal.foodName}}</h2>
                <div class="row" style="width: 100px;float: right">

                    <div class="col col-30"> <button  class="button button-small  button-assertive" ng-click="cutDown(meal)">-</button></div>
                    <div class="col col-20"><label style="width: 20px;" ng-model="meal.Count" >{{meal.Count}}</label></div>
                    <div class="col "> <button  class="button button-small  button-assertive" ng-click="add(meal)">+</button></div>
                </div>
                <div class="col col-30"> <p style="font-size: 13px;color: orangered">¥{{meal.Price}}元/份</p></div>
                <div class="row" style="width: 100px;float: left">
                    <div class="col col-30"> <button  class="button button-small  button-light  icon ion-thumbsup" ng-click="like(meal)"> {{meal.LikeQty}}人觉得很赞</button></div>
                    <div class="col col-30"> <button  class="button button-small  button-light icon ion-thumbsdown" ng-click="unLike(meal)"> {{meal.UnLikeQty}}人觉得还要改进</button></div>
                </div>
            </a>


        </div>

        <!--<div class="list">-->
            <!--<a class="item " ng-repeat="meal in mealList"  href="#">-->
                <!--<h2>{{meal.foodName}}</h2>-->
                <!--<div class="row" style="width: 100px;float: right">-->
                    <!--<div class="col col-30"> <button  class="button button-small  button-assertive" ng-click="cutDown(meal)">-</button></div>-->
                    <!--<div class="col col-20"><label style="width: 20px;" ng-model="meal.Count" >{{meal.Count}}</label></div>-->
                    <!--<div class="col "> <button  class="button button-small  button-assertive" ng-click="add(meal)">+</button></div>-->
                <!--</div>-->
                <!--<br>-->
                <!--<br>-->
                <!--<p style="font-size: 13px;color: orangered">¥{{meal.Price}}元/份</p>-->
            <!--</a>-->
        <!--</div>-->
<br>
      <br>
        <br>
    </ion-content>
    <div class="bar bar-subfooter" style="background-color: lavender">
        <h2 class="title">共{{MealCount}}份 总计{{MealPay}}元</h2>
        <a href="#/app/playlists" class="button button-icon icon ion-ios7-undo-outline"></a>
        <button style="width: 100px"  class="button button-energized pull-right" ng-click="openModal()">下 单</button>
    </div>

    <script id="templates/modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-positive">
                <h1 class="title">下单</h1>
                <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
            </ion-header-bar>
            <ion-content class="padding">
                <div class="list card" >
                    <div class="item item-input">
                        <span class="input-label" style="width: 10px;font-size:80%" >姓名</span><span class="input-label" style="width: 10px;color: red">*</span>
                        <input type="text" style="font-size:80%" readonly="readonly"  ng-model="accessEmployee.CName"/>
                    </div>
                    <div class="item item-input">
                        <span class="input-label" style="width: 10px;font-size:80%">工号</span><span class="input-label" style="width: 10px;color: red">*</span>
                        <input type="text" style="font-size:80%;"  readonly="readonly" ng-model="accessEmployee.WorkdayNO"/>
                    </div>
                    <div class="item item-input">
                        <span class="input-label" style="width: 10px;font-size:80%">联系电话</span><span class="input-label" style="width: 10px;color: red">*</span>
                        <input type="text" style="font-size:80%"  ng-model="MobileNo"/>
                    </div>
                    <div class="item item-input">
                        <span class="input-label" style="width: 10px;font-size:80%">到店时间</span><span class="input-label" style="width: 10px;color: red">*</span>
                        <input type="datetime-local" id="lcTime" value="2015-09-24T13:59:59"/>
                    </div>
                    <div class="item item-input">
                        <span class="input-label" style="width: 10px;font-size:80%">就餐人数</span><span class="input-label" style="width: 10px;color: red">*</span>
                        <select  ng-model="mealPerson"  ng-change="selMealPerson(mealPerson)">
                            <option selected="">请选择</option>
                            <option >1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </div>
                    <div class="item item-input">
                        <span class="input-label" style="width: 10px;font-size:80%">备注：</span><span class="input-label" style="width: 10px;color: red">*</span>
                        <textarea rows="3" id="bz" style="font-size:80%;width: 500px" placeholder="备注"  ng-model="bz"></textarea>
                    </div>
                </div>
                <ion-list>
                    <ion-item class="item" ng-repeat="order in SubmitList track by $index"><p>菜名：{{order.foodName}}，数量：{{order.Count}}，单价：{{order.Price}}</p></ion-item>
                    <ion-item class="item item-divider">共{{MealCount}}份 总计{{MealPay}}元</ion-item>
                </ion-list>

                <br>
                <div style="text-align: center"><button  class="button button-block  button-positive" ng-click="submit()">{{Language.menu.submit}}</button></div>
            </ion-content>
        </ion-modal-view>
    </script>

</ion-view>