<ion-view view-title="{{Language.meal.restaurantPhone}}" cache-view="false">
    <ion-nav-buttons side="left">
        <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">{{Language.menu.homePage}}</button>
    </ion-nav-buttons>
    <ion-content>

        <div class="list card">
            <div class="item item-body">
                <p style="font-size:80%;">{{Language.meal.restaurantPhone}}：<span style="font-weight:bold">13543893572 林金英</span></p>

            </div>
        </div>
    </ion-content>

</ion-view>