<!--离职手续简介-->
<ion-view view-title="{{Language.GBSHR.DismissIntro}}" cache-view="true">
    <ion-content scroll="true" overflow-scroll="true">
        <div class="list list-inset">
            <div class="item" ng-click="open('南厂');">
                {{Language.GBSHR.DismissIntro_SOUTH}}
            </div>
            <div class="item" ng-click="open('北厂');">
                {{Language.GBSHR.DismissIntro_NORTH}}
            </div>
            <div class="item" ng-click="open('外籍');">
                {{Language.GBSHR.DismissIntro_FOREIGN}}
            </div>
        </div>
    </ion-content>
</ion-view>