<!--离职手续状态-->
<style>
    .red-text{
        color:red;
        font-weight:700;
    }
    .green-text{
        color:green;
        font-weight:500;
    }
    .myTab {
        border-collapse: collapse;        
    }
    .myTab th{
        background: blue;
        color: white;
        border: 1px solid gray;
    }
    .myTab td{
        border: 1px solid gray;
    }
    .myOff {
        margin-left: 8px;
        margin-right: 8px;
    }
</style>
<ion-view view-title="{{Language.GBSHR.DismissStatus}}" cache-view="false" hide-tabs>
    <ion-content scroll="true" overflow-scroll="true">
        <div class="list card">
            <div class="item item-input">
                <span class="input-label" style="width: 30px;font-size:80%">{{Language.like.name}}</span>
                <input type="text" style="font-size:80%" readonly="readonly" ng-model="model.CName" />
            </div>
            <div class="item item-input">
                <span class="input-label" style="width:30px;font-size:80%">{{Language.like.employee_ID}}</span>
                <input type="text" style="font-size:80%" readonly="readonly" ng-model="model.WorkdayNO" />
            </div>
            <div class="item item-input">
                <span class="input-label" style="width: 30px;font-size:80%">{{Language.like.department}}</span>
                <input type="text" style="font-size:80%" readonly="readonly" ng-model="model.Organization" />
            </div>
            <div class="item item-input">
                <span class="input-label" style="width: 30px;font-size:80%">{{Language.GBSHR.DismissLastDay}}&nbsp;</span>
                <input type="text" style="font-size:80%" readonly="readonly" ng-model="lastWorkingDay" />
            </div>
            <div class="item item-input">
                <span class="input-label" style="width: 30px;font-size:80%">{{Language.GBSHR.DismissBeginDay}}</span>
                <input type="text" style="font-size:80%" readonly="readonly" ng-model="dismissBeginDay" />
            </div>
            <div class="myOff">
                <span class="text-left">{{Language.GBSHR.Status}}：</span>
                <div ng-if="HasStatus()">
                    <table class="myTab">
                        <thead>
                            <tr>
                                <th style="width:25%">部门</th>
                                <th>事项</th>
                                <th style="width:12%;">状态</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in list">
                                <td>{{item.GroupName}}</td>
                                <td>{{item.ItemName}}</td>
                                <td>
                                    <span ng-class="{'green-text': item.IsDone, 'red-text': !item.IsDone}">
                                        {{GetStatusText(item.IsDone)}}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="divOff" ng-if="!HasStatus()">
                    <span class="red-text">{{Language.GBSHR.NoStatus}}</span>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>