<!-- 宿舍公告 详情 -->
<ion-view view-title="" cache-view="false">

    <ion-content class="padding" scroll="true" overflow-scroll="true">
        <h3>{{curNotice.NoticeTitle}}</h3>
        <br>
        <div id="div_html"></div>
        <br>
        <div class="row">
            <div class="col col-25">
                <div style="float:left;">
                    <span style="color: #808080;font-size: 15px">阅读 {{curNotice.nRead}}</span>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>