<ion-view view-title="" cache-view="true">
    <ion-content class="padding" scroll="true" overflow-scroll="true">

        <section>
            <p style="text-align: center;">
                <strong>伟创力厂区免费WIFI 登陆上网指南</strong>
            </p>
            <p>
                安卓系统（以MIUI 7 为例）：
            </p>
            <p>
                1、在桌面进入设置
                <br/>
            </p>
            <p>
                <img src="http://pic.96weixin.com/ueditor/20180713/1531476489216127.jpg" title="1531476489216127.jpg" alt="1.jpg" />
            </p>
            <p>
                2、在设置中进入WLAN；
            </p>
            <p>
                <img src="http://pic.96weixin.com/ueditor/20180713/1531476498214591.jpg" title="1531476498214591.jpg" alt="2.jpg" />
            </p>
            <p>
                3、打开WLAN 开关；
            </p>
            <p>
                <img src="http://pic.96weixin.com/ueditor/20180713/1531476504561618.jpg" title="1531476504561618.jpg" alt="3.jpg" />
            </p>
            <p>
                <br/>
            </p>
            <p>
                4、选择“
                <strong>
                    <span style="color: rgb(255, 41, 65);">Flex-pay</span>
                </strong>”WIFI 信号；
            </p>
            <p>
                <img src="http://pic.96weixin.com/ueditor/20180713/1531476518792637.jpg" title="1531476518792637.jpg" alt="4.jpg" />
            </p>
            <p>
                <br/>
            </p>
            <p>
                5、退出桌面，打开任一浏览器；
            </p>
            <p>
                <img src="http://pic.96weixin.com/ueditor/20180713/1531476526522125.jpg" title="1531476526522125.jpg" alt="5.jpg" />
            </p>
            <p>
                6、输入任一网址打开；
            </p>
            <p>
                <img src="http://pic.96weixin.com/ueditor/20180713/1531476532942803.jpg" title="1531476532942803.jpg" alt="6.jpg" />
            </p>
            <p>
                7、在弹出的登陆页面输入账号、密码与验证码后点击“提交登入”；
            </p>
            <p>
                <img src="http://pic.96weixin.com/ueditor/20180713/1531476537814280.jpg" title="1531476537814280.jpg" alt="7.jpg" />
            </p>
            <p>
                <br/>
            </p>
            <p>
                8、出现如下登陆成功页面即可上网；
            </p>
            <p>
                <img src="http://pic.96weixin.com/ueditor/20180713/1531476546115188.jpg" title="1531476546115188.jpg" alt="8.jpg" />
            </p>
            <p>
                <br/>
            </p>
            <p>
                <span style="color: rgb(255, 41, 65);">安卓手机可以在连接flex-pay 三分钟后尝试访问此网址：</span>
            </p>
            <p>
                <span style="color: rgb(255, 41, 65);">enet.10000.gd.cn</span>
            </p>
            <p>
                <br/>
            </p>
            <p>
                <span style="color: rgb(255, 41, 65);">请不要使用WiFi 万能钥匙！</span>
            </p>
            <p>
                <span style="color: rgb(255, 41, 65);">与伟创力WiFi 有冲突！</span>
            </p>
            <p>
                <br/>
            </p>
            <p>
                <br/>
            </p>
        </section>

    </ion-content>
</ion-view>