<ion-view view-title="" cache-view="true" >
    <ion-content class="padding" scroll="true" overflow-scroll="true">

<section>
    <p style="text-align: center;">
        <strong>伟创力厂区免费WIFI 登陆上网指南</strong>
    </p>
    <p>苹果系统（以IOS 8 为例）：</p>
    <p>1、在桌面进入设置；</p>
    <p>
        <img referrerpolicy="no-referrer" src="http://pic.96weixin.com/ueditor/20180713/1531470034511803.jpg" title="1531470034511803.jpg"
            alt="1.JPG" _src="http://pic.96weixin.com/ueditor/20180713/1531470034511803.jpg" />
    </p>
    <p>
        <br/>
    </p>
    <p>2、在设置中点击无线局域网；</p>
    <p>
        <img referrerpolicy="no-referrer" src="http://pic.96weixin.com/ueditor/20180713/1531470622384588.jpg" alt="1531470622384588.jpg"
            _src="http://pic.96weixin.com/ueditor/20180713/1531470622384588.jpg" />
    </p>
    <p>
        <br/>
    </p>
    <p>
        <br/>
    </p>
    <p>3、打开无线局域网开关；</p>
    <p>
        <img referrerpolicy="no-referrer" src="http://pic.96weixin.com/ueditor/20180713/1531470622895836.jpg" alt="1531470622895836.jpg"
            _src="http://pic.96weixin.com/ueditor/20180713/1531470622895836.jpg" />
    </p>
    <p>
        <br/>
    </p>
    <p>4、选择“
        <strong>
            <span style="color: rgb(255, 41, 65);">Flex-pay</span>
        </strong>”WIFI 信号；</p>
    <p>
        <img referrerpolicy="no-referrer" src="http://pic.96weixin.com/ueditor/20180713/1531470622927769.jpg" alt="1531470622927769.jpg"
            _src="http://pic.96weixin.com/ueditor/20180713/1531470622927769.jpg" />
    </p>
    <p>
        <br/>
    </p>
    <p>
        <span style="color: rgb(255, 41, 65);">如点击后自动弹出网页请转步骤5；</span>
    </p>
    <p>
        <span style="color: rgb(255, 41, 65);">未自动弹出网页请转步骤7；</span>
    </p>
    <p>
        <br/>
    </p>
    <p>5、在自动弹出网页的右上角点取消；&nbsp;</p>
    <p>
        <img referrerpolicy="no-referrer" src="http://pic.96weixin.com/ueditor/20180713/1531470622165054.jpg" alt="1531470622165054.jpg"
            _src="http://pic.96weixin.com/ueditor/20180713/1531470622165054.jpg" />
    </p>
    <p>
        <br/>
    </p>
    <p>
        <br/>
    </p>
    <p>6、选择下方的“不连接互联网使用”；</p>
    <p>
        <img referrerpolicy="no-referrer" src="http://pic.96weixin.com/ueditor/20180713/1531470622413725.jpg" alt="1531470622413725.jpg"
            _src="http://pic.96weixin.com/ueditor/20180713/1531470622413725.jpg" />
    </p>
    <p>
        <br/>
    </p>
    <p>7、退出桌面，打开任一浏览器；</p>
    <p>
        <img referrerpolicy="no-referrer" src="http://pic.96weixin.com/ueditor/20180713/1531470622822414.jpg" alt="1531470622822414.jpg"
            _src="http://pic.96weixin.com/ueditor/20180713/1531470622822414.jpg" />
    </p>
    <p>
        <br/>
    </p>
    <p>8、输入任一网址打开；</p>
    <p>
        <img referrerpolicy="no-referrer" src="http://pic.96weixin.com/ueditor/20180713/1531470623730804.jpg" alt="1531470623730804.jpg"
            _src="http://pic.96weixin.com/ueditor/20180713/1531470623730804.jpg" />
    </p>
    <p>苹果手机可以在连接flex-pay 三分钟后尝试访问此网址：</p>
    <p>captive.apple.com</p>
    <p>
        <br/>
    </p>
    <p>9、在弹出的登陆页面输入账号、密</p>
    <p>码与验证码后点击“提交登入”；</p>
    <p>
        <img referrerpolicy="no-referrer" src="http://pic.96weixin.com/ueditor/20180713/1531470623301139.jpg" alt="1531470623301139.jpg"
            _src="http://pic.96weixin.com/ueditor/20180713/1531470623301139.jpg" />
    </p>
    <p>
        <br/>
    </p>
    <p>
        <br/>
    </p>
    <p>10、出现如下登陆成功页面即可上网；</p>
    <p>
        <img referrerpolicy="no-referrer" src="http://pic.96weixin.com/ueditor/20180713/1531470623986133.jpg" alt="1531470623986133.jpg"
            _src="http://pic.96weixin.com/ueditor/20180713/1531470623986133.jpg" />
    </p>
    <p>
        <br/>
    </p>
    <p>
        <br/>
    </p>
    <p>
        <span style="color: rgb(255, 41, 65);">请不要使用WiFi 万能钥匙！</span>
    </p>
    <p>
        <span style="color: rgb(255, 41, 65);">与伟创力WiFi 有冲突！</span>
    </p>
    <p>
        <br/>
    </p>
    <p>
        <br/>
    </p>
    <p>
        <br/>
    </p>
    <p>
        <br/>
    </p>
    <p>
        <br/>
    </p>
    <p>
        <br/>
    </p>
</section>

</ion-content>
</ion-view>