<!-- 免费WIFI申请 -->
<ion-view view-title="{{Language.dormManage.freeDormWifi}}" cache-view="true" >
    <ion-content class="padding" scroll="true" overflow-scroll="true">

<section class="_editor" style="text-align: left;">
    <section class="tool-border">
        <section></section>
        <section></section>
        <section></section>
        <section></section>
    </section>
    <p style="text-align: center;">
        <span style="font-size: 15px;">
            <strong>伟创力厂区免费WIFI 帐号申请指南</strong>
        </span>
    </p>
    <p>
        <strong>
            <br/>
        </strong>
    </p>
    <p>
        1、打开
        <a href="#" title="珠海电信商企微店" target="_blank" style="font-size:16px" ng-click="openApplyUrl()"> 珠海电信商企微店 </a>
    </p>
    <p>
        <img src="http://pic.96weixin.com/ueditor/20180713/1531471738694657.jpg" title="1531471738694657.jpg" alt="wifi.JPG" style=";width: 76%;"
        />
    </p>
    <p>
        <br/>
    </p>
    <p>
        2、填写信息：按立即订购（有两个，随便一个即可）。
    </p>
    <p>
        （1）选套餐（都是默认0 元/月），直接按下一步；
    </p>
    <p>
        （2）填写个人信息：包括姓名、联系电话、身份证号码、上传身份
    </p>
    <p>
        证正面、反面、本人同时手持身份证及厂牌拍照，共三张相片；
    </p>
    <p>
        （3）银行信息：默认免支付，可以直接按确定。
    </p>
    <p>
        <br/>
    </p>
    <p>
        3、我司收到申请后，两个工作日内开通WIFI 上网帐号并通过电话或短信通知您申请的帐号、密码。
    </p>
    <p>
        <br/>
    </p>
    <p>
        <a class="padding" href="#" style="font-size:16px" ng-click="open('wifi_android')">
            Android 系统指南
        </a>
    </p>
    <p>
        <a class="padding" href="#" style="font-size:16px" ng-click="open('wifi_ios')">
            苹果系统指南
        </a>
    </p>
    <br><br><br>
</section>

</ion-content>
</ion-view>