<!-- 宿舍申请协议 -->
<style>
ol li{
  margin-bottom: 5px;
}
</style>
<ion-view view-title="{{Language.dormManage.dormNoticeProtocol}}" cache-view="true">
    <ion-content class="padding" scroll="true" overflow-scroll="true">
    <H2 style="text-align: center; margin-bottom: 15px;">入住宿舍承诺书</H2>
    <p style="font-weight:800">
        《入住宿舍承诺书》是为了进一步维护和执行公司制定的关于宿舍管理的各项规章制度，为员工创造一个整洁、安全、文明和温馨的生活居住环境。本人自愿、并郑重承诺将严格遵守公司制定的宿舍管理制度，包括但不限于以下罗列情形，如有违反，将按公司相关制度执行（如：开具违纪单和取消入住资格等）。
    </p>
    <div class="divOff">
      <ol>
        <li>一、	不在宿舍吸烟（如：房间内、宿舍公共区域），吸烟到公司指定的吸烟区；</li>
        <li>二、	不乱扔垃圾、不乱堆积杂物，不随意挪动宿舍内设施，保持房间整洁；如卫生与内务不符合6S标准，上网帐号将会被关闭，直至整改合格后方可恢复正常使用；如房间卫生脏乱差，不配合整改，将被取消宿舍入住资格；</li>
        <li>三、	不故意破坏宿舍设施，爱护公共设施，发现问题及时上报宿舍管理处；</li>
        <li>四、	不私自留宿非本公司人员入住宿舍、不私自调换房间或床位、不私自配制钥匙等；</li>
        <li>五、	不在宿舍墙壁、洗手间门板或其它设施上乱写乱画乱贴；</li>
        <li>六、	不盗窃宿舍公共财产或其他员工的财物等（无论价值多少）；</li>
        <li>七、	不在宿舍乱接电源，不在宿舍内使用及存放大功率电器及煮食工具，如：电饭煲、电磁炉、850W以上电吹风等；</li>
        <li>八、	不浪费宿舍水、电等公共资源；</li>
        <li>九、	妥善保管个人物品、证件等，如因私自调换床位、占用他人床位所造成的连带后果或责任由本人承担；</li>
        <li>十、	离职或退宿离开前，整理并收拾好所有个人物品，如有遗留，公司有权按无主物品处理。</li>
      </ol>
    </div>
    <p style="color:red;font-weight:700;">
        特别声明：
    </p>
    <p style="color:red;font-weight:700;">
        &nbsp;&nbsp;&nbsp;&nbsp;对离职（含自离）人员、乱睡床位者滞留于床位上的个人物品，公司在检查发现后（24小时内）将一律按无主物品 即时清理，一切责任与公司无关，本人接受以上规定。
    </p>
    <br>
    <div class="row">
      <div style="float:left;"><span style="color: #808080;font-size: 15px" >阅读 {{ReadCount}}</span></div>
   </div>
    <br>
  </ion-content>
</ion-view>