<!-- 班车信息 -->
<ion-view cache-view="false" >
    <ion-nav-title>
        {{Language.bus.title}}
    </ion-nav-title>
    <!-- <ion-nav-buttons side="left">
        <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">{{Language.home.admin}}</button>
    </ion-nav-buttons> -->

    <ion-content scroll="true"  overflow-scroll="true" >

        <div class="list list-inset">
            <div class="item" ng-click="openBusTime(car)">
                {{Language.bus.tabBusTime}}
            </div>
        </div>

        <div class="list list-inset">
            <!-- {{Language.bus.content}} -->
            {{Language.bus.tabGps}}
            <div class="item" ng-repeat="car in carList" ng-click="open(car)">
                {{car.Name}}
            </div>

        </div>



    </ion-content>
</ion-view>