<ion-view view-title=" {{Language.bus.title}}" cache-view="false" >
    <ion-nav-buttons side="left">
        <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">{{Language.menu.homePage}}</button>
    </ion-nav-buttons>

    <ion-content scroll="true"  overflow-scroll="true" >

        <div class="list list-inset">
            {{Language.bus.content}}
            <div class="item" ng-repeat="car in carList" ng-click="open(car)">
                {{car.Name}}
            </div>

        </div>



    </ion-content>
</ion-view>