<!-- 班车时间图片 -->
<ion-view title="{{Language.bus.tabBusTime}}" cache-view="false">
    <!-- <ion-nav-buttons side="left">
        <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">{{Language.home.admin}}</button>
    </ion-nav-buttons> -->
    <ion-content>
        <ul id="auto-loop" class="gallery">
            <li data-src="img/CarImg/Slide1.JPG">更新明细表
                <a href="#">
                    <img src="img/CarImg/Slide1.JPG" />
                </a>
            </li>
            <li data-src="img/CarImg/Slide1_1.JPG">
                艺富本土宿舍往返南厂员工班车
                <a href="#">
                    <img src="img/CarImg/Slide1_1.JPG" />
                </a>
            </li>
        <li data-src="img/CarImg/Slide2.JPG">市区月票班车（周一至周五）市区→公司
            <a href="#">
                <img src="img/CarImg/Slide2.JPG" />
            </a>
        </li>
        <li data-src="img/CarImg/Slide3.JPG" >市区月票班车（周一至周五）公司→市区
            <a href="#">
                <img src="img/CarImg/Slide3.JPG" />
            </a>
        </li>
        <li data-src="img/CarImg/Slide4.JPG">市区月票班车（周一至周五）晚上加班车
            <a href="#">
                <img src="img/CarImg/Slide4.JPG" />
            </a>
        </li>
        <li data-src="img/CarImg/Slide5.JPG">（普通雇员）公司往返珠海班车（周六、日及节假日）（一）
            <a href="#">
                <img src="img/CarImg/Slide5.JPG" />
            </a>
        </li>
            <li data-src="img/CarImg/Slide6.JPG">（普通雇员）公司往返珠海班车（周六、日及节假日）（二）
                <a href="#">
                    <img src="img/CarImg/Slide6.JPG" />
                </a>
            </li>
            <li data-src="img/CarImg/Slide7.JPG">普通雇员）公司往返珠海班车 园区-珠海（周六、日及节假日）（三）
                <a href="#">
                    <img src="img/CarImg/Slide7.JPG" />
                </a>
            </li>
            <li data-src="img/CarImg/Slide8.JPG">（普通雇员）公司往返珠海班车 珠海-园区（周六、日及节假日）（三）
                <a href="#">
                    <img src="img/CarImg/Slide8.JPG" />
                </a>
            </li>
            <li data-src="img/CarImg/Slide9.JPG">（普通雇员）公司往返井岸（一）
                <a href="#">
                    <img src="img/CarImg/Slide9.JPG" />
                </a>
            </li>
            <li data-src="img/CarImg/Slide10.JPG">（普通雇员）公司往返井岸班车  （二）
                <a href="#">
                    <img src="img/CarImg/Slide10.JPG"/>
                </a>
            </li>
            <li data-src="img/CarImg/Slide11.JPG">（普通雇员）公司往返白蕉班车
                <a href="#">
                    <img src="img/CarImg/Slide11.JPG" />
                </a>
            </li>
            <li data-src="img/CarImg/Slide12.JPG">
                （普通雇员）公司往返湖心路、红旗班车
                <a href="#">
                    <img src="img/CarImg/Slide12.JPG" />
                </a>
            </li>
            <li data-src="img/CarImg/Slide13.JPG">（普通雇员）公司往返湖心路、平沙/乾务班车
                <a href="#">
                    <img src="img/CarImg/Slide13.JPG" />
                </a>
            </li>
            <li data-src="img/CarImg/Slide14.JPG">高级雇员）公司往返三洲宿舍班车 （周一至周五）
                <a href="#">
                    <img src="img/CarImg/Slide14.JPG" />
                </a>
            </li>
            <li data-src="img/CarImg/Slide15.JPG">（高级雇员）园区往返珠海班车 （周六、日及节假日）
                <a href="#">
                    <img src="img/CarImg/Slide15.JPG" />
                </a>
            </li>
            <li data-src="img/CarImg/Slide16.JPG">园区内公务车、穿梭巴士  （一）
                <a href="#">
                    <img src="img/CarImg/Slide16.JPG" />
                </a>
            </li>
            <li data-src="img/CarImg/Slide17.JPG">园区内公务车、穿梭巴士  （二）
                <a href="#">
                    <img src="img/CarImg/Slide17.JPG" />
                </a>
            </li>
            <li data-src="img/CarImg/Slide18.JPG">早上途经南厂及新伟街的班车参考信息
                <a href="#">
                    <img src="img/CarImg/Slide18.JPG" />
                </a>
            </li>
            <li data-src="img/CarImg/Slide18.JPG">
                早上途经南厂及新伟街的班车参考信息
                <a href="#">
                    <img src="img/CarImg/Slide18.JPG" />
                </a>
            </li>

    </ul>

    </ion-content>
</ion-view>