<!-- 屏幕下方的Tab -->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <ion-tab title="{{Language.bus.tabGps}}" icon-off="ion-ios-location" icon-on="ion-ios-location" href="#tabCar/carlist">
        <ion-nav-view name="carlist"></ion-nav-view>
    </ion-tab>
    <ion-tab title="{{Language.bus.tabGps}}" class="hide" icon-off="ion-ios-location" icon-on="ion-ios-location"  href="#tabCar/map">
        <ion-nav-view name="map"></ion-nav-view>
    </ion-tab>
    <ion-tab title="{{Language.bus.tabBusTime}}" icon-off="ion-ios-calendar" icon-on="ion-ios-calendar" href="#tabCar/carPicture">
        <ion-nav-view name="carPicture"></ion-nav-view>
    </ion-tab>
</ion-tabs>