<!-- 其他沟通渠道 -->
<style>
    .myul > li{
        list-style-type:initial;
        line-height: 25px;
    }
    ol li{
        list-style-type:decimal;
    }
    .myDivOff{
        margin-left: 40px;
    }
    .myLink{
        font-size: 15px;
    }
</style>
<ion-view cache-view="true">
    <ion-nav-title>
      {{Language.union.otherCommunMethod}}
    </ion-nav-title>
  
    <ion-content>
        <p class="myTitle">
            1）沟通渠道：
        </p>
        <div class="myDivOff">
        <ul class="myul">
            <li>LED屏</li>
            <li>户外宣传栏</li>
            <li>工会开放日</li>
            <li>员工代表大会</li>
            <li>食堂管理委员会：
                <ol style="margin-left:16px">
                    <li>
                        <a class="myLink" href="#" style="font-size:14px" ng-click="openCanteenFeedback()">
                            反馈食堂用餐意见
                        </a>
                    </li>
                    <li>季度走访</li>
                </ol>
            </li>
            <li>伟创力珠海官方微信：“伟创力珠海”</li>
            <li>工会邮箱：<a class="myLink" href="mailto:flexzh.union@flex.com">flexzh.union@flex.com</a></li>
        </ul>
        </div>
        <br>
        <p class="myTitle">
            2）联合工会及基层分会架构
        </p>
        <div>
            <ul id="auto-loop" class="gallery">
            <li data-src="img/union/unionArti.PNG">
                <a href="#">
                <img style="max-width:400px;" alt="联合工会及基层分会架构" src="img/union/unionArti.PNG"/>
                </a>
            </li>
            </ul>
        </div>
        <br>
        <p class="myTitle" style="display: inline-block;">
            3）	各基层分会联络窗口
        </p>
        <div>
            <table class="myTab" style="margin:0 4px 0 2px;">
            <thead>
                <tr>
                <th style="width:90px">基层分会</th>
                <th>联络人</th>
                <th>邮箱</th>
                <th style="min-width:70px">联系电话</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in contacts">
                <td>{{item.building}}</td>
                <td>{{item.basePeople}}</td>
                <td class="tdCenter"><a class="myLink" href="mailto:{{item.baseEmail}}">{{item.baseEmail}}</a></td>
                <td class="tdCenter"><a class="myLink" href="tel:{{item.basePhone}}">{{item.basePhone}}</a></td>
                </tr>
            </tbody>
            </table>
        </div>
        <br><br><br>
    </ion-content>
  </ion-view>