<!-- 员工沟通 -->
<ion-view view-title="{{Language.union.communicate}}" cache-view="true" >
    <!-- <ion-nav-buttons side="left">
        <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">{{Language.home.admin}}</button>
    </ion-nav-buttons> -->

    <ion-content scroll="true" overflow-scroll="true" >
        <div class="list list-inset">            
            <div class="item" ng-click="open('热线号码');">
                {{Language.union.hotline}}
            </div>
            <div class="item" ng-click="open('其他沟通渠道');">
                {{Language.union.otherCommunMethod}}
            </div>          
        </div>
    </ion-content>
</ion-view>