<!-- 申请指引 -->
<ion-view cache-view="true">
  <ion-nav-title>
    申请指引
  </ion-nav-title>

  <ion-content>
    <p class="lightRedBack" style="padding: 4px;">
        &nbsp;&nbsp;<b>联合工会</b>于2012年设立了爱心帮扶基金，旨在为有需求的员工提供帮助，帮助困难员工解决燃眉之急，让他们感受到来自公司及工会的关怀与温暖。
        主要帮扶类别、帮扶对象、帮扶频率及申请材料，请参见下表：        
    </p>
    <p class="myTitle">
      1）联合工会常规帮扶
    </p>
    <div>
    <table class="myBlueTab">
      <tbody>
        <tr class="head" style="height:26px;">
          <td class="hCent vCent" colspan="6">
            <strong>常规帮扶</strong>
          </td>
        </tr>
        <tr class="tdetail">
          <td class="head vCent" rowspan="{{helps.length+1}}">
            <p>伟创力爱心帮扶基金</p>
          </td>
          <td>#</td>
          <td style="width:70px">
            帮扶类别
          </td>
          <td class="hCent" style="width:80px">对象
          </td>
          <td class="hCent" style="width:70px">备注
          </td>
          <td class="hCent">材料
          </td>
        </tr>
        <tr class="tdetail" ng-repeat="item in helps">
          <td class="tdCenter">{{$index+1}}</td>
          <td class="tdCenter">{{item.ItemName}}</td>
          <td>{{item.Object}}</td>
          <td>{{item.Memo}}</td>
          <td class="vCent" rowspan="{{helps.length}}" ng-if="$index==0">
            <p>爱心帮扶基金申请表、身份证复印件、厂牌复印件及相关致困证明等</p>
          </td>
        </tr>
        <tr>
          <td colspan="6" class="tail">
              &nbsp;※&nbsp;家庭成员非主动失业且人均收入低于本地区最低生活保障线
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <br><br>
    <p class="myTitle">
      2）联合工会项目式帮扶
    </p>
    <div>
        <table class="myBlueTab">
            <tbody>
              <tr class="head" style="height:26px;">
                <td class="hCent vCent" colspan="6">
                  <strong>项目式帮扶</strong>
                </td>
              </tr>
              <tr class="tdetail">
                <td class="head vCent" rowspan="{{projHelps.length+1}}">
                  <p>伟创力爱心帮扶基金</p>
                </td>
                <td>#</td>
                <td style="width:90px">
                  帮扶类别
                </td>
                <td class="hCent" style="width:80px">对象
                </td>
                <td class="hCent">备注
                </td>
              </tr>
              <tr class="tdetail" ng-repeat="item in projHelps">
                <td class="tdCenter">{{$index+1}}</td>
                <td class="tdCenter"><span ng-bind-html="item.ItemName"></span></td>
                <td>{{item.Object}}</td>
                <td>{{item.Memo}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <br><br>

    <p class="lightRedBack" style="padding: 4px;">
        &nbsp;&nbsp;斗门区总工会针对全区内的困难职工提供相应的帮扶，伟创力联合工会向有需求的职工提供帮助，代为转交相关申请资料。
        主要帮扶类别、帮扶对象、帮扶频率及申请材料，请参见下表：      
    </p>
    <p class="myTitle">
      3）斗门总工会常规帮扶
    </p>
    <div>
      <table class="myBlueTab">
        <tbody>
          <tr class="head" style="height:26px;">
            <td class="hCent vCent" colspan="6">
              <strong>常规帮扶</strong>
            </td>
          </tr>
          <tr class="tdetail">
            <td class="head vCent" rowspan="{{dmHelps.length+1}}">
              <p>斗门区总工会帮扶</p>
            </td>
            <td>#</td>
            <td style="width:70px">
              帮扶类别
            </td>
            <td class="hCent" style="width:80px">对象
            </td>
            <td class="hCent" style="width:60px">备注
            </td>
            <td class="hCent">材料
            </td>
          </tr>
          <tr class="tdetail" ng-repeat="item in dmHelps">
            <td class="vCent">{{$index+1}}</td>
            <td class="vCent">{{item.ItemName}}</td>
            <td class="vCent">{{item.Object}}</td>
            <td class="vCent">{{item.Memo}}</td>
            <td><span ng-bind-html="item.Material"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br><br>
    <p class="myTitle">
      4）斗门总工会项目式帮扶
    </p>
    <div>
        <table class="myBlueTab">
            <tbody>
              <tr class="head" style="height:26px;">
                <td class="hCent vCent" colspan="6">
                  <strong>项目式帮扶</strong>
                </td>
              </tr>
              <tr class="tdetail">
                <td class="head vCent" rowspan="{{dmProjHelps.length+1}}">
                  <p>斗门区总工会帮扶</p>
                </td>
                <td>#</td>
                <td style="width:70px">
                  帮扶类别
                </td>
                <td class="hCent" style="width:80px">对象
                </td>
                <td class="hCent" style="width:60px">备注
                </td>
              </tr>
              <tr class="tdetail" ng-repeat="item in dmProjHelps">
                <td class="tdCenter">{{$index+1}}</td>
                <td class="tdCenter">{{item.ItemName}}</td>
                <td>{{item.Object}}</td>
                <td>{{item.Memo}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <br><br><br>
  </ion-content>
</ion-view>