<!-- 爱心帮扶联系方式 -->
<style>
  .myTab td.tdCenter {
    text-align: center;
    vertical-align: middle;
  }
  .myTab .blueTitle{
    background: blue;
    color: white;
  }
</style>
<ion-view cache-view="true">
  <ion-nav-title>
    爱心帮扶联系信息
  </ion-nav-title>

  <ion-content>
    <div>
      <table class="myTab" style="margin:10px 4px 0 2px;">
        <tbody>
          <tr>
            <th rowspan="2" style="width:72px;vertical-align:middle;">事业部</th>
            <th colspan="2">人力资源部</th>
            <th colspan="2">基层分会</th>
          </tr>
          <tr class="blueTitle">
            <td style="width: 55px;">联系人</td>
            <td>联系电话</td>
            <td style="width: 55px;">联系人</td>
            <td>联系电话</td>
          </tr>
          <tr ng-repeat="item in contacts">
            <td>{{item.Building}}</td>
            <td>{{item.hrPeople}}</td>
            <td class="tdCenter"><a class="myLink" href="tel:{{item.hrPhone}}">{{item.hrPhone}}</a></td>
            <td>{{item.basePeople}}</td>
            <td class="tdCenter"><a class="myLink" href="tel:{{item.hrPhone}}">{{item.basePhone}}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br><br><br>
  </ion-content>
</ion-view>