<!-- 斗门总工会帮扶 -->
<ion-view cache-view="true">
  <ion-nav-title>
    斗门区总工会帮扶
  </ion-nav-title>

  <ion-content>
    <p class="myTitle">
      1）常规帮扶
    </p>
    <div>
      <ul class="lightgallery">
        <li data-src="https://s1.ax1x.com/2018/09/12/iASy5V.png">
          <a href="#">
            <img style="max-width:400px;" alt="常规帮扶" src="https://s1.ax1x.com/2018/09/12/iASy5V.png" />
          </a>
        </li>
      </ul>
    </div>
    <br><br>
    <p class="myTitle">
      2）项目式帮扶
    </p>
    <div>
      <ul class="lightgallery">
        <li data-src="https://s1.ax1x.com/2018/09/12/iASsU0.png">
          <a href="#">
            <img style="max-width:400px;" alt="项目式帮扶" src="https://s1.ax1x.com/2018/09/12/iASsU0.png" />
          </a>
        </li>
      </ul>
    </div>
    <br><br><br>
  </ion-content>
  <script>
    setTimeout(function () {
      //图片缩放
      $(".lightgallery ").lightGallery({
        mobileSrc: false, // If "data-responsive-src " attr. should be used for mobiles.
        mobileSrcMaxWidth: 640, // Max screen resolution for alternative images to be loaded for.
        swipeThreshold: 50, // How far user must swipe for the next/prev image (in px).
        hideControlOnEnd: false,
        closable: false
      });
    }, 1000);
  </script>
</ion-view>