<!-- 留言公开 详情-->
<style>
  .myPadding {
    padding: 0 5px 0 5px;
  }
  .myDivBorder {
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
  }
  .myDivBorder p {
    margin-top: 5px;
    margin-bottom: 4px;    
  }
  .myResp {
    color: red;
  }
</style>
<ion-view view-title="详情" cache-view="false">
  <ion-content class="padding" scroll="true" overflow-scroll="true">
    <div>
      <div class="myDivBorder">
        <p>{{item.EmployeeNo}}</p>
        <p>{{item.CreateDate| date: "yyyy-MM-dd HH:mm"}}</p>
        <p style="white-space:normal;" ng-bind-html="item.Suggest"></p>
      </div>
      <div class="myDivBorder">
        <p class="myResp">{{Language.dormManage.respSuggest}}:&nbsp;</p>
        <p style="color:teal;white-space:normal;" ng-bind-html="item.Response"></p>
      </div>
      <br>
    </div>
  </ion-content>
</ion-view>