<!-- 工会之窗 -->
<ion-view view-title="{{Language.home.union}}" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">{{Language.menu.homePage}}</button>
  </ion-nav-buttons>

  <ion-content scroll="true" overflow-scroll="true">
    <div class="row" style="height:110px;text-align: center">
      <div class="col col-25  custom-og light" style="Margin:1px;" ng-click="open('员工沟通');">
        <i style="font-size:50px;" class="icon ion-android-call"></i>
        <div>{{Language.union.communicate}}</div>
      </div>
      <div class="col col-25 calm-bg light" style="Margin:1px" ng-click="open('员工福利');">
        <i style="font-size:50px;" class="ion-cash"></i>
        <div>{{Language.union.welfare}}</div>
      </div>
      <div class="col col-25 positive-bg light" style="Margin:1px" ng-click="open('工会活动及报名');">
        <i style="font-size:50px;" class="icon ion-ios-people"></i>
        <div>
            <div style="font-size:12px;">{{Language.union.activity}}</div>
            <span style="font-size:10px" class="badge badge-assertive" ng-if="checkActionUpdate('工会活动及报名')">New</span>
        </div>
      </div>
      <div class="col royal-bg light" style="Margin:1px" ng-click="open('员工帮扶');">
        <i style="font-size:50px;" class="ion-heart"></i>
        <div>{{Language.union.helpSupport}}</div>
      </div>
    </div>

  <div class="row" style="height:110px;text-align: center">
    <div class="col col-25 positive-bg light" style="Margin:1px;" ng-click="open('精彩瞬间');">
      <i style="font-size:50px;" class="ion-images"></i>
      <div>
        {{Language.union.wonderfulMoment}}
        <span style="font-size:10px" class="badge badge-assertive" ng-if="checkActionUpdate('精彩瞬间')">New</span>
      </div>
    </div>
    <div class="col col-25 balanced-bg light" style="Margin:1px;" ng-click="open('团购汽车票');" ng-if="canUseAction('团购汽车票');">
      <i style="font-size:50px;" class="ion-android-bus"></i>
      <div>
        {{Language.union.carTicket}}
        <span style="font-size:10px" class="badge badge-assertive" ng-if="checkActionUpdate('团购汽车票')">New</span>
      </div>
    </div>
  </div>

  </ion-content>
</ion-view>