<!-- 工会福利汇 -->
<ion-view cache-view="true">
  <ion-nav-title>
    {{Language.union.welfare_union}}
  </ion-nav-title>
  <ion-content scroll="false">
    <div>
      <section class="welTitle" style="margin: 10px auto;text-align: center;">
        <section class="welTitle bg">
          <section class="welTitle" style="margin-right: 20px;height: 25px;overflow: hidden;">
            <p class="welTitle" style="max-width: 100%;min-height: 1em;font-size: 18px;color: #ffffff;">
              工会福利汇
            </p>
          </section>
        </section>
      </section>
    </div>
    <div>
      <table class="myTab">
        <thead>
          <tr>
            <th style="width:20px">#</th>
            <th style="width:70px;">类型</th>
            <th style="width:60px">商家</th>
            <th>项目介绍</th>
            <th style="width:60px">实施日期</th>
            <th style="width:60px">截止日期</th>
            <th style="width:80px">咨询电话</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in Items">
            <td class="tdCenter">{{$index+1}}</td>
            <td>{{item.type}}</td>
            <td>{{item.business}}</td>
            <td><div ng-bind-html="item.detail"></div></td>
            <td>{{item.beginDate}}</td>
            <td>{{item.endDate}}</td>
            <td>{{item.contact}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ion-content>
</ion-view>