<!-- 年节福利 -->
<style>
  .welTitle {
    max-width: 100%;
    box-sizing: border-box !important;
    word-wrap: break-word !important;
  }
    .welTitle .bg{
        margin-left: 20px;
        padding-top: 10px;
        background-image:
        url(img/union/festTitleBg.png);
        background-position:center center;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 268px;
        height: 59px;
        display:inline-block;
        overflow: hidden;
        word-wrap: break-word !important;
    }
</style>
<ion-view cache-view="true">
  <ion-nav-title>
    {{Language.union.welfare_fest}}
  </ion-nav-title>
  <ion-content scroll="false">
    <div>
        <section class="welTitle" style="margin: 10px auto;text-align: center;">
        <section class="welTitle bg">
            <section class="welTitle" style="margin-right: 20px;height: 25px;overflow: hidden;">
            <p class="welTitle" style="max-width:100%;min-height:1em;font-size: 18px;color:#ffffff;">
                年节福利∙普惠全员
            </p>
            </section>
        </section>
        </section>
    </div>
    <div>
    <table class="myTab">
    <thead>
        <tr>
        <th style="width:30px">序号</th>
        <th style="width:70px;">年节福利</th>
        <th style="width:60px">参与员工</th>
        <th>内容</th>
        <th style="width:60px">实施月份</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>1</td>
        <td>餐厅赠餐</td>
        <td>全体员工</td>
        <td>春节、元宵节、端午节、中秋节在各餐厅赠餐（饺子/汤圆/粽子）</td>
        <td>节日当天</td>
        </tr>
        <tr>
        <td>2</td>
        <td>生日红包</td>
        <td>全体员工</td>
        <td>生日礼金60元（生日当月转至工资卡）</td>
        <td>每月</td>
        </tr>
        <tr>
        <td>3</td>
        <td>端午节礼包</td>
        <td>全体员工</td>
        <td>端午礼包一份</td>
        <td>节前一周</td>
        </tr>
        <tr>
        <td>4</td>
        <td>夏送清凉</td>
        <td>全体员工</td>
        <td>全园送凉茶，每月每人2罐，发放3个月</td>
        <td>7月&mdash;9月</td>
        </tr>
        <tr>
        <td>5</td>
        <td>中秋节礼包</td>
        <td>全体员工</td>
        <td>中秋大礼包一份</td>
        <td>节前一周</td>
        </tr>
        <tr>
        <td>6</td>
        <td>开工红包</td>
        <td>全体员工</td>
        <td>开工红包50元（转至工资卡）</td>
        <td>春节后开工之月</td>
        </tr>
    </tbody>
    </table>
    </div>
</ion-view>