<!-- 补贴申请结果查询 -->
<style>
  .failed-text {
    color: black;
  }
  .success-text {
    color: red;
    font-weight: 700;
  }
  .myPadding {
    padding: 0 5px 0 5px;
  }
  .myDivBorder {
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
  }
  .myDivBorder p {
    margin-bottom: 2px;
  }
</style>
<ion-view view-title="" cache-view="false">
  <ion-content class="myPadding" scroll="true" lazy-scroll>
    <div ng-if="items.length>0">
        <!-- <h4 style="color: royalblue">{{Language.union.welfare_applyResult}}</h4> -->
        <h4 style="color: royalblue">“异地务工人员暑期亲子团聚关爱”补贴结果查询</h4>
        <div ng-repeat="item in items">
          <div class="myDivBorder">（{{$index+1}}）&nbsp;
            <span style="white-space:normal;" ng-bind-html="item.WelfareName"></span>
          </div>
          <div class="myDivBorder">
            <p ng-class="{'success-text': item.Has>0, 'failed-text': !item.Has}" 
                ng-bind-html="item.WelfareResult"></p>
          </div>
          <br>
        </div>
    </div>
    <div ng-if="!items || !items.length">
      <h4 style="color:red">{{errMessage}}</h4>
    </div>
  </ion-content>
</ion-view>