<!-- 往期福利 -->
<style>
.myDivOff{
  margin-left: 40px;
  margin-top: 20px;
}
.myTitle{
        margin-top: 8px;
        font-size:19px;
        font-family:'微软雅黑',sans-serif;
    }
    .myul > li{
        list-style-type:initial;
        line-height: 25px;
    }
</style>

<ion-view cache-view="true">
  <ion-nav-title>
    往期福利
  </ion-nav-title>

  <ion-content>
    <div class="myDivOff">
      <ul class="myul">
        <li>1000个两癌筛查体检名额</li>
        <li>1000个新春交通返程补贴（300元）</li>
        <li>新春职工亲子一天游（每期50名，三期）</li>
        <li>五一职工广州一天游（每期100名，三期）</li>
        <li>五一轮盘抽奖 （烤箱、电风扇、腾讯王卡、书卡、娘家米）</li>
        <li>端午轮盘大抽奖（天地一号饮料、花生油、电影票、雨伞）</li>
        <li>积分兑换活动（3次）（珠海渔女工艺品、充电宝、天地一号饮料、书卡、羽毛球拍）</li>
        <li>安全生产月答题送礼活动（1500份娘家米）</li>
        <li>三八妇女节-女职工权益知识答题抽奖（娘家米）</li>
        <li>十九大有奖知识问答 – 娘家米</li>
        <li>庆七·一留言活动 – 书卡</li>
        <li>其他福利活动</li>
      </ul>
    </div>
    <br><br><br>
  </ion-content>
</ion-view>