<!-- 工惠福利汇 -->
<style>
.myTab {
    width: 99.5%;
}
td.vertMiddle{
  vertical-align: middle;
}
</style>
<ion-view cache-view="true">
  <ion-nav-title>
    {{Language.union.welfare_union}}
  </ion-nav-title>
  <ion-content scroll="true" overflow-scroll="true">
    <div>
      <section class="welTitle" style="margin: 10px auto;text-align: center;">
        <section class="welTitle bg">
          <section class="welTitle" style="margin-right: 20px;height: 25px;overflow: hidden;">
            <p class="welTitle" style="max-width: 100%;min-height: 1em;font-size: 18px;color: #ffffff;">
              工惠福利汇
            </p>
          </section>
        </section>
      </section>
    </div>
    <div>
      <table class="myTab">
        <thead>
          <tr>
            <th style="width:16px">#</th>
            <th><div style="width:30px;">类型</div></th>
            <th><div style="width:30px;">商家</div></th>
            <th>项目介绍</th>
            <th>实施日期</th>
            <th>截止日期</th>
            <th>咨询电话</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in Items">
            <td class="tdCenter">{{$index+1}}</td>
            <td>{{item.type}}</td>
            <td>{{item.business}}</td>
            <td><div style="min-width:40%" compile="item.detail"></div></td>
            <td class="vertMiddle"><div style="width:40px;">{{item.beginDate}}</div></td>
            <td class="vertMiddle"><div style="width:40px">{{item.endDate}}</div></td>
            <td class="vertMiddle"><div style="width:60px;">{{item.contact}}</div></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br><br><br>
  </ion-content>
</ion-view>