<!-- 关注指南 -->
<ion-view cache-view="true">
  <ion-nav-title>
    关注指南
  </ion-nav-title>

  <ion-content>
    <div style="margin-left:10px;">
      <section>
        <p style="text-align: center;">
          <strong>“斗门工会”微信公众号关注指南</strong>
        </p>
        <p>1、微信扫码或搜索“斗门工会”进行关注</p>
        <p>
          <img src="https://s1.ax1x.com/2018/09/12/ikHvtJ.png"/>
        </p>
        <p>
          <br />
        </p>
        <p>2、点击对话框处的“惠职工”</p>
        <p>
          <img src="https://s1.ax1x.com/2018/09/12/ikHL0U.png"/>
        </p>
        <p>
          <br />
        </p>
        <p>3、点击 “惠我认证”</p>
        <p>
          <img src="https://s1.ax1x.com/2018/09/12/ikHxh9.png"/>
        </p>
        <p>
          <br />
        </p>
        <p>4、填写个人真实资料</p>
        <p>
          <img src="https://s1.ax1x.com/2018/09/12/ikbCX6.png"/>
        </p>
        <p>
          <br />
        </p>
        <p>5、认证成功后便可享受</p>
        <p>
          <img src="https://s1.ax1x.com/2018/09/12/ikHO7F.png"/>
        </p>
    </div>
    <br><br><br>
  </ion-content>
</ion-view>