<!-- 年节福利 -->
<style>
  .welTitle {
    max-width: 100%;
    box-sizing: border-box !important;
    word-wrap: break-word !important;
  }
    .welTitle .bg{
        margin-left: 20px;
        padding-top: 10px;
        background-image:
        url(img/union/festTitleBg.png);
        background-position:center center;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 268px;
        height: 59px;
        display:inline-block;
        overflow: hidden;
        word-wrap: break-word !important;
    }
</style>
<ion-view cache-view="true">
  <ion-nav-title>
    {{Language.union.welfare_fest}}
  </ion-nav-title>
  <ion-content scroll="false">
    <div>
        <section class="welTitle" style="margin: 10px auto;text-align: center;">
        <section class="welTitle bg">
            <section class="welTitle" style="margin-right: 20px;height: 25px;overflow: hidden;">
            <p class="welTitle" style="max-width:100%;min-height:1em;font-size: 18px;color:#ffffff;">
                年节福利∙普惠全员
            </p>
            </section>
        </section>
        </section>
    </div>
    <div>
    <table class="myTab">
    <thead>
        <tr>
        <th style="width:20px">#</th>
        <th style="width:70px;">年节福利</th>
        <th style="width:60px">参与员工</th>
        <th>内容</th>
        <th style="width:60px">实施月份</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in Items">
        <td class="tdCenter">{{$index+1}}</td>
        <td>{{item.welfare}}</td>
        <td>{{item.target}}</td>
        <td>{{item.detail}}</td>
        <td>{{item.date}}</td>
    </tr>
    </tbody>
    </table>
    </div>
</ion-view>