<!-- 领取通知 -->
<ion-view view-title="{{Language.union.welfare_notice}}" cache-view="true">
  <ion-content scroll="true" overflow-scroll="true">
      <ion-list>
          <div class="list list-inset">
              <ion-item class="item" ng-repeat="item in items">
                  <div ng-click="open(item.ID);">
                      <h3 class="ng-binding">{{item.Title}}</h3>
                      <p class="ng-binding">{{item.CreateDate| date:"yyyy-MM-dd"}}</p>
                  </div>
              </ion-item>
          </div>
      </ion-list>
  </ion-content>
</ion-view>