<style>
    .lineStyle {
        line-height: 150%;
    }
</style>

<!--<p style="text-align:center;line-height:150%">-->
    <!--<strong>Flex汽车共享信息服务协议</strong>-->
<!--</p>-->
<p style="text-align:center;line-height:150%">
    <strong>&nbsp;</strong>
</p>
<p class="lineStyle">
    Flex汽车共享信息平台用户协议（以下称“用户协议”）适用于您访问、登录、使用“Flex汽车共享信息服务平台”（以下简称“Flex汽车共享平台”），以及通过Flex汽车共享平台发布或接受其他用户发布的信息，享受Flex汽车共享平台向您提供的信息、建议及服务。Flex汽车共享平台为非营利性、非汽车服务运营性平台仅供伟创力珠海工业园在职员工依照本用户协议使用。
</p>
<p class="lineStyle">
    平台与系统：E-admin&amp; Flex+ APP。
</p>
<p class="lineStyle">
    &nbsp;
</p>
<p class="lineStyle">
    <strong>在注册使用Flex汽车共享平台之前，请先仔细阅读并接受本用户条款</strong>。
</p>
<p class="lineStyle">
    &nbsp;
</p>
<p class="lineStyle">
    第一条 定义和服务内容
</p>
<p class="lineStyle">
    1.1“合乘乘客”是指，伟创力的在职员工以合乘他人车辆方式按一定路线出行为目的、在Flex汽车共享平台上以发布自己的出行路线为方式，主动发起合乘行为或接受他人发起的合乘邀请，并通过Flex汽车共享平台与Flex汽车共享车主达成合乘约定的个人(以下称“乘客”，与Flex汽车共享车主统称为“用户”)。乘客在主动发起合乘行为前，需将手机号码在Flex汽车共享平台上成功注册，并 接受《Flex汽车共享信息服务协议》的全部内容。乘客必须是伟创力在职员工，乘坐由其他用户提供的汽车服务时，能理解并接受伟创力的免责条款。
</p>
<p class="lineStyle">
    1.2 Flex汽车共享车主是指伟创力的在职员工按一定路线驾驶机动车出行、并自愿以与他人达成合乘为目的、在Flex汽车共享平台发布自己的出行路线，或接受他人的合乘需求，并通过Flex汽车共享平台与合乘人达成合乘约定的个人(以下称“车主”，与乘客统称“用户”)。车主在发布合乘路线前或接受他人合乘需求前，需将手机号码在Flex汽车共享信息平台上成功注册并主动上传个人及车辆信息，并接受《Flex汽车共享信息服务协议》的全部内容。车主必须是伟创力的在职员工，且自愿与其他用户共享属于本人汽车的座位。
</p>
<p class="lineStyle">
    1.3 Flex汽车共享平台是向用户提供获得合乘机会或发布合乘需求的途径，仅适用于伟创力珠海工业园全体在职员工。您可以通过注册成为Flex汽车共享车主，或通过Flex汽车共享平台发布合乘需求而获得Flex汽车共享平台提供的相应服务。
</p>
<p class="lineStyle">
    1.4乘客可通过Flex汽车共享平台发布合乘需求信息，包括用车时间、起始地点及目的地等；车主通过Flex汽车共享信息平台发布合乘信息，包括发车时间、起始地点及目的地等。
</p>
<p class="lineStyle">
    1.5 <strong>您已知晓并确认Flex汽车共享平台提供的并不是出租、用车、驾驶或运输服务，而仅是用于平台注册用户之间的合乘信息发布。如果用户的合乘需求信息被其他用户接受并确认，Flex汽车共享平台即记录在乘客和车主双方之间生成汽车共享约定，但在任何情况下Flex汽车共享平台将不会安排、匹配、建议用户之间的合乘行为。本用户协议的第二条与第三条内容以及Flex汽车共享平台提供的其他建议将对用户的权利义务进行说明，以便用户理解遵守。&nbsp;&nbsp;</strong>
</p>
<p class="lineStyle">
    第二条Flex汽车共享平台乘客的权利与义务&nbsp;&nbsp;
</p>
<p>
    2.1乘客必须是伟创力在职员工，自愿乘坐由其他伟创力员工提供的汽车服务时，理解并接受伟创力的免责条款。搭乘方式为非固定时间非固定频次搭乘，是乘客自愿搭乘；
</p>
<p class="lineStyle">
    2.2乘客应按照双方约定的时间和地点等候合乘，如因乘客原因无法继续合乘的，乘客应提前通知车主，主动取消合乘；
</p>
<p class="lineStyle">
    2.3乘客不得在合乘过程中进行不文明的行为(包括但不限于吸烟、喝酒、吐痰等），因乘客原因致使人员受伤、发生交通事故、造成车辆损坏或其他损失的，乘客应依法向受损方进行赔偿；
</p>
<p class="lineStyle">
    2.4乘客属于基于车主的同意进行免费搭乘；
</p>
<p class="lineStyle">
    2.5乘客不得携带危险品及其他法律、法规规定禁止携带的物品搭乘车主的车辆，否则车主有权拒绝乘客合乘；
</p>
<p class="lineStyle">
    2.6乘客应保证仅有乘客本人与车主合乘，车主有权拒绝乘客之外其他人员进入或搭乘车辆；如果乘客不配合，则车主可立即取消合乘。
</p>
<p class="lineStyle">
    2.7乘客应遵守法律法规对交通安全的有关规定；
</p>
<p class="lineStyle">
    2.8乘客理解并接受，车主并非专业的驾驶服务或出租服务提供者，在合乘过程中出现的分歧，双方应进行友好协商，避免冲突。
</p>
<p class="lineStyle">
    2.9乘客不得转让本用户协议中的权利及义务。
</p>
<p class="lineStyle">
    第三条Flex汽车共享平台车主的权利义务
</p>
<p class="lineStyle">
    3.1车主必须是伟创力在职员工，且自愿与其他伟创力同事共享属于本人汽车的座位；
</p>
<p class="lineStyle">
    3.2<a>车主须持有有效驾驶证照并具备3年以上驾龄</a><a id="_anchor_1" href="file:///C:/Users/dmneeoll/Desktop/Flex%E6%B1%BD%E8%BD%A6%E5%85%B1%E4%BA%AB%E4%BF%A1%E6%81%AF%E6%9C%8D%E5%8A%A1%E5%8D%8F%E8%AE%AE20170807.docx#_msocom_1" language="JavaScript" name="_msoanchor_1">[LK1]</a>&nbsp;，最近连续3个记分周期内没有记满12分记录；无交通肇事犯罪记录、无危险驾驶犯罪记录、无吸毒记录、无饮酒后驾驶机动车违法记录、无暴力犯罪记录，未达到国家法定退休年龄，但伟创力或Flex汽车共享平台不负责对此进行审查和核实。
</p>
<p class="lineStyle">
    3.2车主驾驶车辆是5座（含）以下本人名下自有汽车或在已在伟创力珠海工业园申请了通行证的车辆；负责对车辆进行日常管理、维修和保养，并保证车辆行驶安全、行驶手续的合法性、有效性，确保车辆符合国家安全性标准且有交通强制保险，但伟创力或Flex汽车共享平台不负责对此进行审查和核实。
</p>
<p class="lineStyle">
    3.3车主有权对Flex汽车共享平台发布的合乘需求进行选择或发布合乘信息，自愿与乘客达成合乘；
</p>
<p class="lineStyle">
    3.4车主一旦确认接受合乘需求，即应当按照双方约定的时间和地点等候合乘。如因车主原因无法进行合乘的，车主应提前通知乘客，主动取消合乘；
</p>
<p class="lineStyle">
    3.5车主在合乘过程中应尽合理努力和注意保证乘客在合乘过程中的安全，并安全将乘客按照双方一致同意的路线送达目的地；
</p>
<p class="lineStyle">
    <a name="OLE_LINK2"></a><a name="OLE_LINK1"></a>3.6车主不得借用Flex汽车共享平台开展营运行为；
</p>
<p class="lineStyle">
    3.7车主不得违反现行法律、法规及当地地方性法规、部门规章的规定，或进行非法运营；
</p>
<p class="lineStyle">
    3.8车主在出行过程中产生的一切道路通行费用或桥梁通行费用，应由车主独立承担，不得途中让乘客中途下车或者故意绕道行驶；
</p>
<p class="lineStyle">
    3.9车主同意在发布共享汽车信息时，能接受将个人的联系方式如手机号码、车牌号码予以在平台上公布，对所有用户公开；共享车辆应以系统发布的号码一致，乘客乘坐车辆时应予以核对后，方可乘车。
</p>
<p class="lineStyle">
    3.10为适当保障个人信息，车牌号码倒数第二位在发布时自动变为“X”。
</p>
<p class="lineStyle">
    3.11<strong>合乘过程中发生交通事故、车辆故障、自然灾害等意外情况，导致对车主或乘客造成的一切精神、身体的伤害、死亡或行程延误等情况，一切责任和后果均由驾乘双方自行协商解决或依法通过行政或司法途径解决，Flex汽车共享平台或伟创力对此不承担任何责任</strong>。
</p>
<p class="lineStyle">
    3.12车主应遵守法律法规对交通安全的有关规定。
</p>
<p class="lineStyle">
    3.13车主不得转让本用户协议中的权利及义务。
</p>
<p class="lineStyle">
    第四条Flex汽车共享平台的权利义务&nbsp;&nbsp;
</p>
<p class="lineStyle">
    4.1Flex汽车共享平台免费为伟创力珠海工业园全体在职员工提供发布或接受合乘信息的平台；伟创力或Flex汽车共享平台不负责对用户的注册信息进行核查和担保。
</p>
<p class="lineStyle">
    4.2<strong>虽有前款规定，用户同意，Flex汽车共享平台无法保证其所提供的信息中没有任何错误、缺陷、恶意软件或病毒。对于因使用（或无法使用）信息平台导致的任何损害，Flex汽车共享平台不承担责任。此外，对于因使用（或无法使用）与信息平台的电子通信手段导致的任何损害，包括（但不限于）因电子通信传达失败或延时、第三方或用于电子通信的计算机程序对电子通信的拦截或操纵，以及病毒传输导致的损害，Flex汽车共享平台不承担责任；伟创力或Flex汽车共享平台不对用户在共享平台上发布信息的真实性和有效性负责。</strong>
</p>
<p class="lineStyle">
    4.3Flex汽车共享平台受理用户的投诉，并联系合乘的对方对投诉进行调查核实。在争议得到合理解决前，Flex汽车共享平台有权暂时禁止被投诉用户使用Flex汽车共享平台。
</p>
<p class="lineStyle">
    第五条投诉处置规则
</p>
<p class="lineStyle">
    5.1如乘客与车主产生纠纷，Flex汽车共享平台将在收到投诉或反馈后安排工作人员及时与相关用户联系，根据实际发生的情况做出处理决定。用户应配合Flex汽车共享平台执行处理方案。
</p>
<p class="lineStyle">
    5.2因用户的行为，Flex汽车共享平台遭受任何损失的，Flex汽车共享平台的经营方有权向用户要求全额赔偿。
</p>
<p class="lineStyle">
    5.3 Flex汽车共享平台有权随时不经通知取消任何用户的使用资格。
</p>
<p class="lineStyle">
    第六条不可抗力
</p>
<p class="lineStyle">
    “不可抗力”是指本用户协议中各方不能控制、不可预见或即使预见亦无法避免的事件，且该事件足以妨碍、影响或延误任何一方根据本用户协议履行其全部或部分义务。该事件包括但不限于自然灾害、战争、政策变化、计算机病毒、黑客攻击或电信机构服务中断。遭受不可抗力的一方可中止履行本用户协议项下的义务直至不可抗力事件的影响消除，并且无需为此承担违约责任。但该方应尽最大努力克服该事件，防止或减少损失的扩大。
</p>
<p class="lineStyle">
    第七条违约责任及协议的解除和终止
</p>
<p class="lineStyle">
    7.1如果用户有以下行为，Flex汽车共享平台有权随时终止本用户协议并立即生效（即禁止您使用Flex汽车共享平台及相应服务）：
</p>
<p class="lineStyle">
    a.违反本用户协议中的任何条款；
</p>
<p class="lineStyle">
    b.经技术判定滥用Flex汽车共享平台服务或损害伟创力或Flex汽车共享平台的合法权益；
</p>
<p class="lineStyle">
    c.因政策变化等原因，而本用户协议相关义务不能履行；
</p>
<p class="lineStyle">
    d. 与伟创力的劳动关系终止;
</p>
<p class="lineStyle">
    e．存在其他伟创力或Flex汽车共享平台认为不得继续使用平台服务的行为。
</p>
<p class="lineStyle">
    Flex汽车共享平台没有义务提前通知合约终止，但将按照本用户协议发出相关通知。
</p>
<p class="lineStyle">
    7.2用户可以随时按照平台上的说明注销账户。
</p>
<p class="lineStyle">
    第八条争议解决
</p>
<p class="lineStyle">
    本用户协议适用中国法律。关于本用户协议的违约、终止、履行、解释或有效性，或者Flex汽车共享服务平台的使用所产生的或与其相关的任何冲突、赔偿或纠纷（统称为&quot;争议&quot;），均应由珠海市有管辖权的法院予以审理。
</p>
<p class="lineStyle">
    第十条其他
</p>
<p class="lineStyle">
    Flex汽车共享平台的有权随时修改或替换本用户协议之条款，或者更改、暂停或中断服务或应用程序（包括但不限于，任何功能、数据库或内容的可用性）的权利。
</p>
<p class="lineStyle">
    <strong>用户在Flex汽车共享平台上完成用户注册即视为其对本用户协议的内容已充分理解、接受和确认，尤其是伟创力及Flex汽车共享平台有关责任免除的规定，并同意遵守本用户协议的全部内容。</strong>
</p>
<p>
    <br/>
</p><br/>
<p>
    <br/>
</p>
