<div class="row">


    <div  class="col col-25">
        <div >{{Language.realName.type}}</div>
    </div>

    <div  class="col">
        <!--<select class="button " style="margin-top:5px;" ng-options='t.name for t in PersonType'-->
                <!--ng-model="selPersonType.item" ng-change="PersonTypeUpdate(selPersonType.item)"></select>-->

        <select  ng-model="selPersonType"  ng-change="PersonTypeUpdate(selPersonType)">
            <option selected="">{{Language.realName.chinese}}</option>
            <option >{{Language.realName.foreigner}}</option>

        </select>
    </div>
</div>
<div class="row">
    <div  class="col col-25">
        <div >{{Language.realName.idNO}}</div>
    </div>

    <div  class="col">
        <input type="text" ng-model="data.IDNO">
    </div>
</div>
<div class="row">
    <div  class="col col-25">
      <div >{{Language.like.employee_ID}}</div>
    </div>

    <div  class="col">
        <input type="text" ng-model="accessEmployee.WorkdayNO">
    </div>
</div>
<div class="row">
    <div  class="col col-25">
        <div >{{Language.realName.name}}</div>
    </div>

    <div  class="col">
        <input type="text" ng-model="accessEmployee.CName">
    </div>
</div>
