<!-- eAdmin Manager Housing Subsidy Detail -->
<ion-view view-title="Manager Housing Subsidy" cache-view="false" hide-tabs>
  <ion-content style="background-color:lavender">
    <style>
      .myOff {
          margin-left: 8px;
          margin-right: 8px;
          }
          .mytitle{
            font-size: 80%;
            width: 20%;
          }
    </style>
    <div class="list card">
      <span class="text-left font13">{{Language.eAdmin.RequisitionFormInfo}}</span>
      <div class="item item-input">
        <span class="input-label mytitle">{{Language.eAdmin.Name}}</span>
        <input type="text" readonly="readonly" ng-model="item.EmployeeName" />
      </div>
      <div class="item item-input">
        <span class="input-label mytitle">{{Language.eAdmin.EmployeeID}}</span>
        <input type="text" readonly="readonly" ng-model="item.BadgeNumber" />
      </div>
      <div class="item item-input">
        <span class="input-label mytitle">{{Language.eAdmin.Gender}}</span>
        <input type="text" readonly="readonly" ng-model="item.Gender" />
      </div>
      <div class="item item-input">
        <span class="input-label mytitle">{{Language.eAdmin.Company}}</span>
        <input type="text" readonly="readonly" ng-model="item.Company" />
      </div>
      <div class="item item-input">
        <span class="input-label mytitle">{{Language.eAdmin.Segment}}</span>
        <input type="text" readonly="readonly" ng-model="item.Segment" />
      </div>
      <div class="item item-input">
        <span class="input-label mytitle">{{Language.eAdmin.JoinDate}}</span>
        <span class="font80">{{item.JoinDate}}</span>
      </div>
      <div class="item item-input">
        <span class="input-label mytitle">{{Language.eAdmin.Mobile}}</span>
        <input type="text" readonly="readonly" ng-model="item.MobilePhone" />
      </div>
      <div class="item item-input">
        <span class="input-label mytitle">{{Language.eAdmin.EmailAddress}}</span>
        <input type="text" readonly="readonly" ng-model="item.EMail" />
      </div>
      <div class="item item-input">
        <span class="input-label mytitle">{{Language.eAdmin.JobGrade}}</span>
        <input type="text" readonly="readonly" ng-model="item.JobGrade" />
      </div>
      <div class="item item-input">
        <span class="input-label mytitle">{{Language.eAdmin.LiveInDorm}}</span>
        <input type="text" readonly="readonly" ng-model="item.LiveInDorm" />
      </div>
      <div class="item item-input">
        <span class="input-label mytitle">{{Language.eAdmin.Remark}}</span>
        <input type="text" readonly="readonly" ng-model="item.Remark" />
      </div>
    </div>

    <div class="list card">
      <span class="text-left font13">{{Language.eAdmin.FilledbyDormGroup}}</span>
      <div class="item item-input">
        <span class="input-label mytitle">{{Language.eAdmin.SubsidyEffDate}}</span>
        <!-- <input type="text" ng-model="item.EffectiveDate" ng-readonly="!CanSubmit()" /> -->
        <div ion-datetime-picker date ng-model="item.EffectiveDate" 
            ng-class="{'div-disabled': !CanSubmit()}"
            style="width:280px;">
                <i class="icon ion-ios-calendar positive" style="font-size:28px;"></i>
                <strong>{{item.EffectiveDate}}</strong>
        </div>
      </div>
      <div class="item item-input">
        <span class="input-label mytitle">{{Language.eAdmin.RoomNo}}</span>
        <input type="text" ng-model="item.RoomNumber" ng-readonly="!CanSubmit()" />
      </div>
      <div class="item item-input">
        <span class="input-label mytitle">{{Language.eAdmin.CheckoutTime}}</span>
        <!-- <input type="text" ng-model="item.CheckOutDate" ng-readonly="!CanSubmit()" /> -->
        <div ion-datetime-picker date ng-model="item.CheckOutDate" 
            ng-class="{'div-disabled': !CanSubmit()}"
            style="width:280px;">
                <i class="icon ion-ios-calendar positive" style="font-size:28px;"></i>
                <strong>{{item.CheckOutDate}}</strong>
        </div>
      </div>
      <div class="item item-input">
        <span class="input-label mytitle">{{Language.eAdmin.Remark}}</span>
        <input type="text" ng-model="item.Remark2" ng-readonly="!CanSubmit()" />
      </div>
    </div>
    </div>

    <div class="card" ng-if="ApprovelRecords && ApprovelRecords.length>0">
      <span class="text-left font13">{{Language.eAdmin.ApprovalRecord}}</span>
      <div>
        <table class="myTab" style="width:100%">
          <thead>
            <tr>
              <th style="width:20%">{{Language.eAdmin.ApprovalAction}}</th>
              <th style="width:20%">{{Language.eAdmin.Approver}}</th>
              <th style="width:15%">{{Language.eAdmin.Action}}</th>
              <th style="width:25%">{{Language.eAdmin.ApprovedTime}}</th>
              <th>{{Language.eAdmin.Remark}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in ApprovelRecords">
              <td>{{item.StatusNameChinese}}</td>
              <td>{{item.Username}}</td>
              <td>{{item.Action}}</td>
              <td><span ng-if=ValidDate(item.UpdateDate)>{{item.UpdateDate|date:"yyyy-MM-dd HH:mm"}}</span></td>
              <td>{{item.Remark}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div style="text-align:center" ng-if="CanSubmit()">
      <button class="button button-positive" ng-click="Approve()">{{Language.eAdmin.Approve}}</button>
      <button class="button button-assertive" ng-click="Reject()">{{Language.eAdmin.Reject}}</button>
    </div>
  </ion-content>
</ion-view>