<!-- 问与答详情 -->
<ion-view title="{{title}}" cache-view="false">
    <!-- <ion-nav-buttons side="left">
        <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">首页</button>
    </ion-nav-buttons> -->
    <ion-content  class="padding" scroll="true" overflow-scroll="true" >
        <form>
        <div class="bar bar-header item-input-inset" style="height: 50px;">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="query">
        </label>
        </div>
        </form>
        <div ng-repeat="info in listAskAndAnswer | filter:query">
            <p style="font-size: 12px;color: red">{{$index+1}}、{{info.Ask}}</p>
            <p style="font-size: 12px" ng-bind-html="info.Answer">{{info.Answer}}</p>
        </div>
    </ion-content>
</ion-view>