<ion-view title="问与答" cache-view="false">
    <ion-nav-buttons side="left">
        <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">首页</button>
    </ion-nav-buttons>
    <ion-content  class="padding" scroll="true" overflow-scroll="true" >
        <form>
        <div  class="bar bar-header item-input-inset" style="height: 50px;">
            <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon" ></i>
                <input type="text" placeholder="Search" ng-model="query">
            </label>
        </div>
        </form>
        <!--<form>-->
            <!--<div class="bar bar-header item-input-inset" style="height: 50px;">-->
                <!--<label class="item-input-wrapper" id="search-input">-->
                    <!--<i class="icon ion-ios-search" style="position: relative;color: gray;font-size: 1.5em;top: 1px;"></i>-->
                    <!--<input style="padding-top: 3px;" type="search" placeholder="搜索关键词" ng-model="query">-->
                <!--</label>-->
                <!--<button class="button button-clear" style="color: #49B746;" ng-click="searchSelect(query)">搜索</button>-->
            <!--</div>-->
        <!--</form>-->
        {{show}}
    <div ng-repeat="info in listAskAndAnswer | filter:query">
        <p style="font-size: 12px;color: red">{{info.Index}}、{{info.Ask}}</p>
        <p  style="font-size: 12px">{{info.Answer}}</p>
    </div>
    </ion-content>
</ion-view>