
<ion-view title="{{Language.forgetPassWord.title1}}" cache-view="false" hide-tabs>
    <ion-content has-header="true" has-bouncing="true">
        <form form-produce="formControls.conf">
            <div class="list">
                <label class="item item-input">
                    <input type="password" placeholder="{{Language.forgetPassWord.currentPassword}}" ng-model="passmodels.password"/>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="{{Language.forgetPassWord.newPassword}}" ng-model="passmodels.newPassword"/>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="{{Language.forgetPassWord.duplicatePassword}}" ng-model="passmodels.newPasswordAgain"/>
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" ng-click="setPass(passmodels)">{{Language.menu.submit}}</button>
            </div>
        </form>
    </ion-content>
</ion-view>
