<ion-view title="忘记密码">
    <ion-header-bar class="bar-positive">
        <h1 class="title">忘记密码</h1>
        <div class="buttons">
            <button class="button button-clear button-icon ion-close-round" ng-click="closePass()"></button>
        </div>
    </ion-header-bar>
    <ion-content has-header="true" has-bouncing="true">
        <form form-produce="formControls.conf">



            <div class="list" id="message">
                <div class="item item-button-right item-input">
                    <input type="text" placeholder="工号" ng-model="passmodels.workdayNo"/>
                    <button id="btnSecurity" class="button button-calm" ng-click="getSecurityCode(passmodels)"> {{btnText}} </button>
                </div>

                <label class="item item-input ">
                    <input type="text" placeholder="验证码" ng-model="passmodels.securityCode"/>
                </label>
                <div class="padding">
                    <button class="button button-block button-positive" ng-click="checkSecurityCode(passmodels)">确定</button>
                </div>
            </div>

            <div id="reg" style="display: none;">
                <h4 style="margin-left:3px;">请设置密码：</h4>
                <label class="item item-input">
                    <input type="password" placeholder="密码" ng-model="passmodels.newPassword"/>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="重复密码" ng-model="passmodels.newPasswordAgain"/>
                </label>
                <div class="padding">
                    <button class="button button-block button-royal" ng-click="register(passmodels)">提交</button>
                </div>
            </div>

        </form>
    </ion-content>
</ion-view>
