<ion-view view-title="欢迎进入聊天室(测试版)" cache-view="false">
    <ion-nav-buttons side="left">
        <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">首页</button>
    </ion-nav-buttons>

    <!--<ion-content overflow-scroll="true" style="overflow: hidden">-->

        <!--<div title="聊天信息" id="msgContainer" style="height: 500px;overflow:auto;"></div>-->
        <!--<div class="bar bar-footer">-->
            <!--<label class="item item-input" style=" width:85%">-->
                <!--<input type="text" id="txtMsg" placeholder="please add your message here" ng-model="msg"></input>-->
            <!--</label>-->
            <!--<button class="button button-positive" ng-click="sendMsg()">Send</button>-->

        <!--</div>-->
    <!--</ion-content>-->

   <ion-content>

    <!--<div id="msgContainer" title="欢迎进入聊天室" style="height: 400px;overflow:auto;">-->
        <!--<div class="list" ng-repeat="msg in msgList" >-->
            <!--<div style="TEXT-ALIGN: center;">-->
                <!--<em class="agotime" style="font-size: 12px"  am-time-ago="idea.CreateDate"></em>-->
            <!--</div>-->
            <!--&lt;!&ndash; Left &ndash;&gt;-->
            <!--<div class="sender">-->
                <!--<div>-->
                    <!--<img src="img/user.jpg">-->
                <!--</div>-->

                <!--<div style="width: 250px">-->
                    <!--<div class="left_triangle"></div>-->
                    <!--<p> {{msg.msg }}</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
       <!--<div style="TEXT-ALIGN: center;">-->
           <!--<em  style="font-size: 12px" >在线人数：{{countPerson}}</em>-->
       <!--</div>-->

       <div title="聊天信息" id="msgContainer1" style="height: 430px;overflow:auto;"></div>
       <div class="bar bar-footer">
       <label class="item item-input" style=" width:85%">
       <input type="text" id="txtMsg" placeholder="please add your message here" ng-model="chat"></input>
       </label>
       <button class="button button-positive" ng-click="sendMsg(chat)">Send</button>

       </div>
       <!--<div  style="">-->
           <!--<h6 >消息内容：</h6>-->
           <!--<div class="list card">-->
               <!--<label class="item item-input" >-->
                   <!--<textarea rows="5" id="txtMsg" name="txtMsg" style="font-size:80%" placeholder=""  ng-model="chat"></textarea>-->
               <!--</label>-->
               <!--<div style="text-align: center"><button  class="button  button-positive" ng-click="sendMsg(chat)">发送</button></div>-->
           <!--</div>-->
       <!--</div>-->


    </ion-content>

</ion-view>
