<!-- 活动列表 -->
<ion-view view-title="{{Language.activity.title}}" cache-view="false">    
    <ion-nav-buttons side="left">
        <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">{{Language.menu.homePage}}</button>
    </ion-nav-buttons>
    <ion-content scroll="true" overflow-scroll="true" >
    <style>
    .OutDate {
        color: #000 !important;
        background-color: gainsboro !important;
    }
    </style>
        <!--<ion-list ng-if="shouCj">-->
            <!--<ion-item  class="item item-thumbnail-left"  ng-click="openCJ()">-->
                <!--<img src="img/choujiang.jpg">-->
                <!--<h1>抽奖</h1>-->
                <!--<br>-->
                <!--<p></p>-->
            <!--</ion-item>-->
        <!--</ion-list>-->

        <!-- 放置外链 -->
        <ion-item class="item item-thumbnail-left" 
            ng-click="openOutLink('https://www.wjx.top/jq/28806313.aspx')"
            ng-if="isMechanical&&canUseAction('MECH基层分工会第二期');"
            >
        <img src="img/gh.JPG">
        <br>
        <h2>MECH基层分工会第二期线上趣味答题</h2>
        <br>
        </ion-item>

        <!--活动点赞-->
        <ion-list> 
            <ion-item class="item item-thumbnail-left" 
                ng-click="openSpecial('2019年新春文艺晚会门票')"
                ng-if="canUseAction('2019年新春文艺晚会门票');">
                <img src="img/other/AnnualTick2019.PNG">
                <br>
                <h3>2019年新春文艺晚会门票</h3>
            </ion-item>
        </ion-list>
        <!-- johnsing 2018-10-18 -->
        <!--活动点赞-->
        <ion-list>
        <ion-item class="item item-thumbnail-left" ng-click="openSpecial('补贴申请结果查询')">
            <img src="img/user-100.png">
            <br>
            <h3>“异地务工人员暑期亲子团聚关爱”</h3>
            <h3>补贴结果查询</h3>
        </ion-item>
        </ion-list>

        <!-- johnsing 2018-10-11 -->
        <!--活动点赞-->
        <!-- <ion-list>
        <ion-item class="item item-thumbnail-left" ng-click="openActivityGood(2)" ng-if="canUseAction('活动点赞');">
            <img src="img/user-100.png">
            <br>
            <h3>{{Language.activityGood.title}}</h3>
            <br>
            <p>2018-10-26</p>
        </ion-item>
        </ion-list> -->

        <ion-list>
            <ion-item ng-repeat="activity in activityList" class="item item-thumbnail-left"  ng-click="open(activity)">
                <img src="{{activity.ImgPath}}">
                <h3>{{activity.ActivityTitle}}</h3>
                <br>
                <p>{{activity.CreateDate| date:"yyyy-MM-dd"}}</p>

                <!--<i class="icon ion-ios-list-outline"></i>-->
                 <!--<h2>{{notice.NoticeTitle}}</h2>-->
                 <!--<p>{{notice.NoticeTypeName}}</p>-->
                <!--<i class="icon ion-ios-arrow-forward"></i>-->
            </ion-item>
        </ion-list>



        <!--<div>-->
            <!--<section class="wx96Diy cur" data-source="bj.96weixin.com">-->
                <!--<section style="padding: 40px 0 0 0;margin: 10px 0;">-->
                    <!--<section style="padding: 10px;color: rgb(110, 156, 40);border-radius: 15px;background-color: rgb(229, 243, 208);" class="96wx-bgc">-->
                        <!--<section style="padding: 15px 10px;margin: 0px;">-->
                            <!--<section style="margin-top: -65px;padding: 0px;float: right;clear: none;">-->
                                <!--<img class="96wx-img" style="border-color: rgb(229, 243, 208);padding: 0px; margin: 0px;" data-wxsrc="https://mmbiz.qlogo.cn/mmbiz/yqVAqoZvDibHXI5ekoKR1icA9n2tIN2MaflBiacic2AZBCqHwcWYjQMaCkfXMPdNIwlRdUjFRbyIRHzdAB4iaHx3ziaw/0?wx_fmt=gif" src="http://newcdn.96weixin.com/sucai-n/qita/112.gif"/>-->
                            <!--</section>-->
                            <!--<section style="margin-top: -65px;padding: 0px;clear: none;">-->
                                <!--<img class="96wx-img" style="border-color:rgb(229, 243, 208); color:inherit; margin:0px; padding:0px" data-wxsrc="https://mmbiz.qlogo.cn/mmbiz/yqVAqoZvDibHnypFEgvQricska2TLhZuNMic5upuu0zickPibwaDvN6lmgxdW3hKvt0MWibOak4MH9KaMrI5gxw3r8YQ/0?wx_fmt=gif" src="http://newcdn.96weixin.com/sucai-n/qita/113.gif"/>-->
                            <!--</section>-->
                            <!--<section style="padding: 10px;margin: 0px;">-->
                                <!--<p style="text-align: justify; line-height: 2em;">-->
                                    <!--大家好！我是安全生产月，已经16岁了。在伟创力珠海安全生产月来临之际，我们发起安全生产月系列活动，活动主题为全面落实企业安全生产主体责任，旨在提升安全意识，鼓励大家具备“安全第一”的心态。 安全生产月系列活动之网上答题竞赛，参与活动即可赢取现金红包，活动时间：7月24、26、28、31号，8月1、2、3、4号。期待您的参与！-->
                                <!--</p>-->
                            <!--</section>-->
                        <!--</section>-->
                    <!--</section>-->
                    <!--<section style="margin-top: -2px;">-->
                        <!--<section style="width: 0px;height: 0px;clear: both;"></section>-->
                    <!--</section>-->
                <!--</section>-->
            <!--</section>-->
            <!--<p>-->
                <!--<br/>-->
            <!--</p>-->
        <!--</div>-->


        <!--有奖活动-->
        <!--<div class="list list-inset">-->
            <!--<div class="item" ng-repeat="resear in researchList" ng-click="openDC(resear)">-->
                <!--{{resear.ResearchName}} ({{resear.ActivateDate}}开始)-->
            <!--</div>-->
        <!--</div>-->

        <!--EHS有奖答题-->
        <ion-list ng-if="canShow">
            <ion-item ng-repeat="activity in ehsActList" class="item item-thumbnail-left"  ng-click="openEHS(activity)">                
                <img src="{{activity.ImageUrl}}" ng-if="activity.ImageUrl!=null">
                <img src="img/user-100.png" ng-if="activity.ImageUrl==null">

                <h3>{{activity.ActName}}</h3>
                <br>
                <p>{{activity.StartDate| date:"yyyy-MM-dd"}}</p>

                <!--<i class="icon ion-ios-list-outline"></i>-->
                 <!--<h2>{{notice.NoticeTitle}}</h2>-->
                 <!--<p>{{notice.NoticeTypeName}}</p>-->
                <!--<i class="icon ion-ios-arrow-forward"></i>-->
            </ion-item>

            <!-- <ion-item class="item item-thumbnail-left"
                      ng-click="openHandelAddAct()">
                <img src="img/gh.JPG">
                <br>
                <h2>异地务工人员暑期亲子团聚关爱金</h2>
                <br>
            </ion-item> -->
        </ion-list>

        <!-- 放置已下线活动 -->
        <ion-list>
            <ion-item ng-repeat="activity in outDateActivities" class="item item-thumbnail-left OutDate" 
                ng-click="openOfflineAct()">
                <img src="{{activity.ImgPath}}" ng-if="activity.ImgPath!=null">
                <img src="img/user-100.png" ng-if="activity.ImgPath==null">
                <h3>{{activity.ActivityName}}</h3>
                <br>
                <p>{{activity.CreateDate| date:"yyyy-MM-dd"}}</p>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>