<!--活动点赞 2018-05-23-->
<style>
.headpic{
    margin-left:auto; 
    margin-right:auto; 
    max-width:96%;
}
</style>
<ion-view view-title="{{Language.activityGood.title}}" cache-view="true">
    <ion-content style="background-color:lavender">
        <!-- 标题图，有的话 -->
        <ion-slide-box does-continue="true" auto-play="false"  show-pager="false" ng-if="titleImgUrl">
            <img  ng-src="{{titleImgUrl}}" >
        </ion-slide-box>
        <!-- 标题描述，有的话 -->
        <div class="divOff lightRedBack" ng-if="actDesc">
            <div class="divOff" style="font-size:14px;" ng-bind-html="actDesc">                
            </div>
        </div>
        
        <div class="list card">
            <ion-list>
                <ion-item ng-repeat="act in Activities"  >
                    <div class="item item-avatar">
                        <img ng-src="{{activityGoodIcon}}">
                        <h3>{{act.Name}}</h3>
                        <h3>{{act.Designer}}</h3>
                        <!-- <h3>{{Language.activityGood.employee_ID}}：{{act.Designer}}</h3> -->
                        <h3 ng-if="act.BU">{{Language.activityGood.department}}：{{act.BU}}</h3>
                    </div>

                    <div class="item item-body">
                        <img class="headpic" ng-src="{{act.ImgPath}}">
                        <!-- <ul class="lightgallery">
                        <li data-src="{{act.ImgPath}}">
                            <a href="#">
                            <img class="full-image" src="{{act.ImgPath}}" />
                            </a>
                        </li>
                        </ul> -->

                        <div ng-if="act.Describe">
                            <p class="text-left small">{{Language.activityGood.desc}}：</p>
                            <p ng-bind-html="act.Describe">
                            </p>
                        </div>
                        <p ng-if="act.Like>0">
                            <a href="#" class="subdued">{{act.Like}} 支持</a>
                        </p>
                    </div>

                    <div class="item tabs tabs-secondary tabs-icon-right">
                        <a class="tab-item" ng-click="like(act)">
                            <i class="icon ion-thumbsup"></i>
                            为他们加油
                        </a>
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>