<!-- 2019年新春文艺晚会 -->
<ion-view view-title="2019年新春文艺晚会" cache-view="true">
  <ion-content class="padding" scroll="true" overflow-scroll="true">
    <style>
    .noTick {
        color: red;
        text-align: center;
        font-size: 28px;
        line-height: 2em;
        font-weight: 700;
    }

    .hasTick {
        color: blue;
        text-align: center;
        font-size: 28px;
        line-height: 2em;
        font-weight: 600;
    }
    </style>
    <div style="text-align: center;" ng-if="bHasTicket">
      <img style="max-width:96%;" alt="2019年新春文艺晚会" src="img/other/AnnualTick2019.PNG" />
    </div>
    <br>
    <div class="myDivOff">
      <div ng-class="clsTick" ng-bind-html="ticket"></div>
    </div>
  </ion-content>
</ion-view>