<ion-view title="评分记录" cache-view="false">
    <ion-nav-buttons side="left">
        <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">首页</button>
    </ion-nav-buttons>
    <ion-content scroll="true" lazy-scroll>
        <!--<ion-refresher on-refresh="doRefresh()"></ion-refresher>-->


        <div class="list">
            <div class="row" style="cursor:pointer;">
                <div class="col col-33">获得积分</div>
                <div class="col col-33">获得红包</div>
                <div class="col">时间</div>
            </div>
            <div class="item item-accordion"  bindonce ng-repeat="point in pointsHistory track by $index" >
                <div class="row" style="cursor:pointer;" >
                    <div class="col col-33"> {{point.Score}} 分</div>
                    <div class="col col-33">{{point.Redbag}} 元</div>
                    <div class="col"><em class="agotime" am-time-ago="point.CreateDate"></em></div>
                </div>
            </div>
		</div>
        <ion-infinite-scroll ng-if="hasmore" on-infinite="loadMore()" distance="30%"> </ion-infinite-scroll>
    </ion-content>
</ion-view>