<ion-view view-title="{{Language.evaluation.myPiont}}" cache-view="false">
    <ion-nav-buttons side="left">
        <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closePass()">{{Language.menu.homePage}}</button>
    </ion-nav-buttons>
    <ion-content style="background: #f4f4f4">
        <div class="list" style="border:1px solid #dcd4d4;">
            <div class="box">
                <h4 style="margin-left:3px;">{{Language.evaluation.sortInfo}}</h4>
                <div class="row">
                    <div class="col">{{Language.evaluation.sortByToday}} {{pointInfo.DailyPoints}}</div>
                    <div class="col">{{Language.evaluation.sortByWeek}} {{pointInfo.WeeklyPoints}}</div>
                </div>
                <div class="row">
                    <div class="col">{{Language.evaluation.sortByMonth}} {{pointInfo.MonthlyPoints}}</div>
                    <div class="col">{{Language.evaluation.sortByYear}} {{pointInfo.Points}}</div>
                </div>
            </div>
        </div>

        <ion-list>
            <ion-item class="item-divider item-gap">{{Language.evaluation.moneyAccount}} {{RedEnvelopSum}}元</ion-item>
            <ion-item class="item-divider item-gap">{{Language.evaluation.detail}}</ion-item>

            <ion-item  ng-repeat="loginfo in RedEnvelopLog track by $index">
                <div class="row">
                    <div class="col col-25"><p><em class="agotime" am-time-ago="loginfo.CreateDate"></em></p></div>
                    <div class="col col-75"><p>{{loginfo.Content}}</p></div>
                </div>
            </ion-item>
            <!--<div class="list">-->
            <!---->
            <!--<div class="item item-accordion"  bindonce ng-repeat="loginfo in RedEnvelopLog track by $index" >-->
            <!--<div class="row" style="cursor:pointer;" >-->
            <!--<div class="col col-25"><em class="agotime" am-time-ago="loginfo.CreateDate"></em></div>-->
            <!--<div class="col col-75">{{loginfo.Content}} 分</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </ion-list>
    </ion-content>
</ion-view>
