/* Empty. Add your own CSS if you like */


ion-slide{
    height:600px;
    text-align:center;
}

ion-slide img{
    height:180px;
    width:100%;
}


.slideRule{
    width:100%;
    height:700px;
    margin-top:20px;
    text-align:center;

}

.Size{
    width:100%;
    height:100%;
}


/*/班车信息/*/
ul{
    list-style: none outside none;
    padding-left: 0;
}
.gallery li {
    display: block;
    float: left;
    height: 200px;
    margin-bottom: 10px;
    margin-right: 6px;
    width: 300px;
}
.gallery li a {
    height: 300px;
    width: 300px;
}
.gallery li a img {
    max-width: 300px;
}



 /*bubble style 聊天气泡*/
.sender{
    clear:both;
}
.sender div:nth-of-type(1){
    float: left;
}
.sender div:nth-of-type(2){
    background-color: aquamarine;
    float: left;
    margin: 0 20px 10px 15px;
    padding: 10px 10px 10px 10px;
    border-radius:7px;
}

.receiver div:first-child img,
.sender div:first-child img{
    width:40px;
    height: 40px;
}
.receiver div:first-child p,
.sender div:first-child p{
    TEXT-ALIGN: center;
    font-size: 12px
}

.receiver{
    clear:both;
}
.receiver div:nth-child(1){
    float: right;
}
.receiver div:nth-of-type(2){
    float:right;
    background-color: gold;
    margin: 0 10px 10px 20px;
    padding: 10px 0px 10px 10px;
    border-radius:7px;
}

.left_triangle{
    height:0px;
    width:0px;
    border-width:8px;
    border-style:solid;
    border-color:transparent aquamarine transparent transparent;
    position: relative ;
    left:-16px;
    top:3px;
}

.right_triangle{
    height:0px;
    width:0px;
    border-width:8px;
    border-style:solid;
    border-color:transparent transparent transparent gold;
    position: relative;
    right:-16px;
    top:3px;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
/*radio美化*/



/*弹窗的自定义样式*/
.my-custom-popup
.popup{
 width: 1px;
}
.popup-title{
    font-weight:bold; line-height:150%;
}.popup-head{}
 .popup-sub-title{}
 .popup-body{}
 .popup-buttons.row{}
 .popup-buttons .button{

 }

.my-custom-popup-Alter
.popup{
    width: 350px;
}
.popup-title{
    font-weight:bold; line-height:150%;
}.popup-head{}
.popup-sub-title{}
.popup-body{}
.popup-buttons.row{}
.popup-buttons .button{

}


.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav>li {
    float: left;
    position: relative;
    display: block;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 0px 18px;
}

.lightRedBack{
    background-color: #f2dede;
}
.divOff{
    padding: 6px 10px 6px 16px;
}
.redtext{
    color: red;
}

.lightGrayBack{
    background-color:rgb(238, 239, 241);
    color: rgb(63, 62, 63);
}
.bluebox {
    background: none repeat scroll 0 0 #5ab5de;
    box-shadow: 0 5px 0 #51a3c7;
    color: #fff;
}

/* 数字列表 */
.numOl{
    list-style-type: decimal;
}
.numOl li{
    margin-top: 3px;
    white-space: normal;
}   

.font90{
    font-size: 90% !important;
}

.option-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
	top: 8.33333px;
	right: 0;
	bottom: 0;
	left: 0;
	height: 24px;
	width: 24px;
	transition: all 0.15s ease-out 0s;
	background: #cbd1d8;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin-right: 0.5rem;
	outline: none;
	position: relative;
	z-index: 1000;
}
.option-input:hover {
	background: #9faab7;
}
.option-input:checked {
	background: #40e0d0;
}
.option-input:checked::before {
	height: 24px;
	width: 24px;
	position: absolute;
	content: '✔';
	display: inline-block;
	font-size: 18px;
	text-align: center;
	line-height: 24px;
}
.option-input:checked::after {
	background: #40e0d0;
	content: '';
	display: block;
	position: relative;
	z-index: 100;
}
.option-input.radio {
	border-radius: 50%;
}
.option-input.radio::after {
	border-radius: 50%;
}

.myTab {
    border-collapse: collapse;        
}
.myTab th{
    background: blue;
    color: white;
    border: 1px solid gray;
}
.myTab td{
    border: 1px solid gray;
}
.myTab td.tdCenter{
    text-align: center;
}

.myBlueTab{
    border-collapse: collapse;
    width: 99.5%;
    border: 1px solid white;
    margin:0 4px 0 2px;
}
.myBlueTab th{
    border: 1px solid white;
}
.myBlueTab td{
    border: 1px solid white;
}
.myBlueTab tr:nth-child(even).tdetail  {
  background: #B4C6E7
}

.myBlueTab tr:nth-child(odd).tdetail  {
  background: #D9E2F3
}

.myBlueTab .head{
    background: #4472C4;
    color: black;
    font-family: Microsoft YaHei,"sans-serif",Arial,simsun;
    font-weight: 800;
    font-size: 1.2em;
}
.myBlueTab .tail{
    background: #4472C4;
    color: black;
    font-family: Microsoft YaHei,"sans-serif",Arial,simsun;
}
.myBlueTab .hCent{
    text-align: center;
}
.myBlueTab .vCent{
    vertical-align: middle;
}

.myLink{
    text-decoration: none;
}

/*文章内小标题*/
.myTitle{
    margin-top: 8px;
    font-size:19px;
    font-family:'微软雅黑',sans-serif;
}

.welTitle {
    max-width: 100%;
    box-sizing: border-box !important;
    word-wrap: break-word !important;
  }
    .welTitle .bg{
        margin-left: 20px;
        padding-top: 10px;
        background-image:
        url(../img/union/festTitleBg.png);
        background-position:center center;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 268px;
        height: 59px;
        display:inline-block;
        overflow: hidden;
        word-wrap: break-word !important;
    }

.smallPic{
    max-height: 120px;
    max-width: 120px;
    margin:2px 0 0 2px;
}
.searchHead{
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 5px;
}
